<ion-item>
    <ion-avatar slot="start">
        <img [src]="isYounger ? legalTutor.younger.avatar : legalTutor.tutor.avatar" class="w-12" />
    </ion-avatar>
    <ion-label>
        <h2>{{ isYounger ? legalTutor.younger.fullName : legalTutor.tutor.fullName }}</h2>
        <p>{{ legalTutor.relation }}</p>
    </ion-label>
    <ion-avatar slot="end" class="w-8 h-8">
        <ion-img *ngIf="legalTutor.supervisor != 1 && legalTutor.supervisor != 0" [src]="legalTutor.supervisorIcon"></ion-img>
        <ion-img *ngIf="legalTutor.supervisor == 1" [src]="isYounger? legalTutor.supervisorIcon['younger'] : legalTutor.supervisorIcon['tutor']" ></ion-img>
    </ion-avatar>
</ion-item>