<app-header title="underConstruction"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/icon/under-construction.svg"></ion-img>
        </ion-card-header>
        <ion-card-content>
            {{ 'errors.underConstruction' | translate }}
        </ion-card-content>
    </ion-card>
</ion-content>
