<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/activities" mode="md"></ion-back-button>
            </ion-buttons>
        </ion-buttons>
        <ion-title *ngIf="activity != null">{{ activity.title }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-tabs>
    <ion-tab-bar slot="bottom" *ngIf="activity">
        <ion-tab-button tab="data">
            <ion-icon name="person-circle-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="notes" *ngIf="activity.profile && activity.profile.registered != 0">
            <ion-icon name="chatbubble-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="messages" *ngIf="activity.profile && activity.profile.registered != 0">
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="documents" *ngIf="activity.profile && activity.profile.registered != 0">
            <ion-icon name="documents-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="documents-public" *ngIf="activity.profile && activity.profile.registered != 0">
            <ion-icon name="file-tray-full-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="attendance" *ngIf="activity.profile && activity.profile.registered != 0">
            <ion-icon name="list-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="toogleRegister()" *ngIf="activity.profile || activity.capacity == null || activity.affecteds.length < activity.capacity || (activity.affecteds.length >= activity.capacity && activity.waiting == null)">
            <ion-icon name="person-add-outline" *ngIf="activity.profile == null"></ion-icon>
            <ion-icon name="person-remove-outline" *ngIf="activity.profile && activity.profile.registered == 1"></ion-icon>
            <ion-icon name="time-outline" *ngIf="activity.profile && activity.profile.registered != 1"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
