<div *ngIf="entities.length > 1 || (user && user.profiles.length > 1)">
    <ion-item color="primary" *ngIf="entities.length > 0">
        <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.chooseentity' | translate }}</ion-label>
        <ion-select  [(ngModel)]="entitySelected" (ionChange)="change('entity')">
            <ion-select-option *ngFor="let entity of entities" [value]="entity.id">{{ entity.shortName == null ? entity.firstName : entity.shortName }}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item color="primary">
        <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.chooseprofile' | translate }}</ion-label>
        <ion-select [(ngModel)]="profileSelected" (ionChange)="change('profile')">
            <ion-select-option *ngFor="let profile of user.profiles | filter:entitySelected" [value]="profile.id">{{ profile.fullName }}</ion-select-option>
        </ion-select>
    </ion-item>
</div>

<ion-item *ngIf="user && user.profile_id && user.currentProfile.role_id == 5 && entities.length == 1 && user.profiles.length == 1" color="primary">
    <ion-avatar slot="start">
        <img [src]="user.currentEntity.avatar" />
    </ion-avatar>
    <ion-label>{{ user.currentEntity.shortName }}</ion-label>
</ion-item>
<ion-item *ngIf="user && user.profile_id == null">
    <ion-avatar slot="start">
        <img [src]="avatarDefault" />
    </ion-avatar>
    <ion-label>{{ "messages.withoutentity" | translate }}</ion-label>
</ion-item>