<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <swiper #swiper [config]="slideOptions" (slideChange)="moveToTop($event)" class="grid">
        <ng-template swiperSlide>
            <ion-refresher slot="fixed" (ionRefresh)="setData($event)" pullFactor="0.8" pullMin="60" pullMax="120" [disabled]="!activeProfile">
                <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
            <ion-card>
                <ion-card-header>
                    <ion-card-title color="primary" class="font-bold text-xl">{{ 'titles.editProfile' | translate }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div *ngIf="profile || user">
                        <ion-img [src]="profile.avatar" class="avatar"></ion-img>
                        <app-profile-changes [profile]="profile" [user]="user" (editProfile)="profile.avatar != profile.avatar_tmp ? uploadAvatar = true : uploadAvatar = false"></app-profile-changes>
                        <ion-list>
                            <!-- Categoria de asociado -->
                            <ion-item *ngIf="profile.isAffiliate">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.affiliateType" | translate }}
                                </ion-label>
                                <ion-input [value]="profile.affiliate ? profile.affiliate.name : ('messages.notassigned' | translate)" readonly></ion-input>
                            </ion-item>
                            <!-- Numero de asociado -->
                            <ion-item *ngIf="profile.isAffiliate">
                                <ion-label position="stacked" class="font-bold mb-2">
                                    {{ "messages.affiliateNumber" | translate }}</ion-label>
                                <ion-input [value]="profile.affiliateNumber" readonly></ion-input>
                            </ion-item>
                            <!-- Fecha de alta -->
                            <ion-item *ngIf="profile.isAffiliate">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.affiliateData" | translate }}
                                </ion-label>
                                <ion-input [value]="profile.affiliateDate | date: 'dd/MM/YYYY'" readonly></ion-input>
                            </ion-item>
                            <!-- Tratamiento -->
                            <ion-item *ngIf="user.showWorkplace">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.addressed" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.addressed" type="text" name="addressed"></ion-input>
                            </ion-item>
                            <!-- Nombre -->
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.name" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.firstName" type="text" name="firstName"></ion-input>
                            </ion-item>
                            <!-- Apellido -->
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.lastName" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.lastName" type="text" name="lastName"></ion-input>
                            </ion-item>
                            <!-- Tipo de documento -->
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.document-type" | translate }}
                                </ion-label>
                                <div class="flex flex-auto w-full gap-2">
                                    <ion-select [(ngModel)]="profile.identification_type" name="identification_type" [compareWith]="compare" class="w-full pl-0" *ngIf="user.currentEntity.fiscalCountry != 183" (ionChange)="checkNIF()">
                                        <ion-select-option [value]="1">{{ 'messages.nif' | translate }}</ion-select-option>
                                        <ion-select-option [value]="2">{{ 'messages.cif' | translate }}</ion-select-option>
                                        <ion-select-option [value]="3">{{ 'messages.nie' | translate }}</ion-select-option>
                                        <ion-select-option [value]="4">{{ 'messages.pasaport' | translate }}</ion-select-option>
                                    </ion-select>
                                    <ion-select [(ngModel)]="profile.identification_type" name="identification_type" [compareWith]="compare" class="w-full pl-0" *ngIf="user.currentEntity.fiscalCountry == 183" (ionChange)="checkNIF()">
                                        <ion-select-option [value]="5">{{ 'messages.identification_type5' | translate }}</ion-select-option>
                                        <ion-select-option [value]="6">{{ 'messages.identification_type6' | translate }}</ion-select-option>
                                    </ion-select>
                                    <ion-input [(ngModel)]="profile.nif" type="text" name="nif" class="w-full" (ionChange)="checkNIF()"></ion-input>
                                </div>

                            </ion-item>
                            <ion-item *ngIf="profile.nifError">
                                <p class="text-danger-default">{{ 'errors.' + profile.nifError | translate }}</p>
                            </ion-item>
                            <!-- correo -->
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.mail" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.email" name="email" type="email"></ion-input>
                            </ion-item>
                            <!-- avatar -->
                            <ion-item lines="none">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.photo" | translate }}
                                </ion-label>
                                <div class="grid grid-cols-2 w-full">
                                    <div>
                                        <ion-button expand="full" shape="round" (click)="takePhoto()">
                                            <ion-icon slot="start" name="camera"></ion-icon>
                                            {{ 'messages.camera' | translate }}
                                        </ion-button>
                                    </div>
                                    <div>
                                        <ion-button expand="full" shape="round" (click)="getGalleryPhoto()">
                                            <ion-icon slot="start" name="images"></ion-icon>
                                            {{ 'messages.gallery' | translate }}
                                        </ion-button>
                                    </div>
                                    <div class="col-span-2 justify-self-center mt-2" *ngIf="uploadAvatar">
                                        <img [src]="profile.avatar_tmp | imageSanitazer">
                                    </div>
                                </div>
                            </ion-item>
                            <!-- Fecha de nacimiento -->
                            <ion-item id="date-time-modal">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.birthday" | translate }}</ion-label>
                                <ion-input [value]="profile.birthday | date: 'dd/MM/yyyy'" name="birthday"></ion-input>
                                <ion-modal trigger="date-time-modal" class="cucunver-modal" #birthdayModal>
                                    <ng-template>
                                        <ion-content>
                                            <ion-datetime firstDayOfWeek="1" [value]="profile.birthday" presentation="date" name="birthday" (ionChange)="changeDate($event, birthdayModal)"></ion-datetime>
                                        </ion-content>
                                    </ng-template>
                                </ion-modal>
                            </ion-item>
                            <!-- Sexo -->
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.sex" | translate }}
                                </ion-label>
                                <ion-select [(ngModel)]="profile.gender" name="gender" class="p-0" placeholder="Seleccionar">
                                    <ion-select-option [value]="0">{{ 'messages.sex0' | translate }}</ion-select-option>
                                    <ion-select-option [value]="1">{{ 'messages.sex1' | translate }}</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <!-- Direccion -->
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.address" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.address" type="text" name="address"></ion-input>
                            </ion-item>
                            <!-- País -->
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.country" | translate }}
                                </ion-label>
                                <ion-select [(ngModel)]="profile.country" [compareWith]="compareCountry" (ionChange)="changeCountry()">
                                    <ion-select-option [value]="country" *ngFor="let country of countries">{{ country.name }}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <!-- Provincia -->
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.province" | translate }}
                                </ion-label>
                                <ion-select [(ngModel)]="profile.province" name="province" *ngIf="profile.country && profile.country.working">
                                    <ion-select-option [value]="province.name" *ngFor="let province of profile.country.provinces">{{ province.name }}
                                    </ion-select-option>
                                </ion-select>
                                <ion-input type="text" *ngIf="!profile.country || profile.country.working == 0" [(ngModel)]="profile.province" name="province">
                                </ion-input>
                            </ion-item>
                            <!-- Población -->
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.town" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.town" type="text" name="town"></ion-input>
                            </ion-item>
                            <!-- Codigo postal -->
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.pc" | translate }}</ion-label>
                                <ion-input [(ngModel)]="profile.pc" name="pc" type="number"></ion-input>
                            </ion-item>
                            <!-- Telefono movil -->
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.mobilephone" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.phone2" name="phone2" type="tel"></ion-input>
                            </ion-item>
                            <!-- Telefono -->
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.phone" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.phone" name="phone" type="tel"></ion-input>
                            </ion-item>
                            <!-- Nacionalidad -->
                            <ion-item *ngIf="user.showWorkplace">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.nacionality" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.nacionality" name="nacionality" type="text"></ion-input>
                            </ion-item>
                            <!-- Centro de trabajo -->
                            <div *ngIf="user.showWorkplace">
                                <ion-item (click)="showWorkplaceData = !showWorkplaceData">
                                    <ion-label color="primary">{{ 'messages.workplaceextradata' | translate }}</ion-label>
                                </ion-item>
                                <div *ngIf="showWorkplaceData" class="border border-primary-default">
                                    <ion-searchbar placeholder="{{ 'messages.search' | translate }}" inputmode="text" (ionChange)="searchWorkplace($event)" [debounce]="250" animated [(ngModel)]="searchWorkplaceInput" name="searchWorkplace"></ion-searchbar>
                                    <ion-item>
                                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.workplace" | translate }}</ion-label>
                                        <ion-input type="text" type="text" [(ngModel)]="workplace.name" name="workplaceName"></ion-input>
                                        <input type="hidden" name="workplace_id" [(ngModel)]="workplace.id" name="workplaceId">
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.address" | translate }}</ion-label>
                                        <ion-input type="text" [(ngModel)]="workplace.address" name="workplaceAddress"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.country" | translate }}
                                        </ion-label>
                                        <ion-select [(ngModel)]="workplace.country" name="workplaceCountry" [compareWith]="compareCountry" (ionChange)="changeCountry(true)">
                                            <ion-select-option [value]="countryWorkplace.id" *ngFor="let countryWorkplace of countriesWorkplace">{{ countryWorkplace.name }}
                                            </ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.province" | translate }}
                                        </ion-label>
                                        <ion-select [(ngModel)]="workplace.province" name="workplaceProvince" *ngIf="workplace.country.working == 1">
                                            <ion-select-option [value]="province.name" *ngFor="let province of workplace.country.provinces">{{ province.name }}
                                            </ion-select-option>
                                        </ion-select>
                                        <ion-input type="text" *ngIf="workplace.country.working != 1" [(ngModel)]="workplace.province" name="workplaceProvince">
                                        </ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.town" | translate }}</ion-label>
                                        <ion-input type="text" [(ngModel)]="workplace.town" name="workplaceTown"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.pc" | translate }}</ion-label>
                                        <ion-input type="text" [(ngModel)]="workplace.pc" name="workplacePc"></ion-input>
                                    </ion-item>
                                </div>
                            </div>

                            <!-- Cargo -->
                            <ion-item *ngIf="user.showWorkplace">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.charge" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.charge" type="text" name="charge"></ion-input>
                            </ion-item>
                            <!-- servicio -->
                            <ion-item *ngIf="user.showWorkplace">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.unit" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.unit" type="text" name="unit"></ion-input>
                            </ion-item>
                            <!-- Especialidad -->
                            <ion-item *ngIf="user.showWorkplace">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.speciality" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.speciality" type="text" name="speciality"></ion-input>
                            </ion-item>
                            <!-- Numero de tiendas -->
                            <ion-item *ngIf="user.showNShops">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.nshops" | translate }}
                                </ion-label>
                                <ion-input [(ngModel)]="profile.n_shops" type="number" name="n_shops"></ion-input>
                            </ion-item>

                            <!-- Especialidad EESTO -->
                            <ion-item *ngIf="user.showSpecialityEESTO">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.specialityeesto" | translate }}
                                </ion-label>
                                <ion-select [(ngModel)]="profile.speciality" name="speciality_eesto" class="p-0" placeholder="Seleccionar">
                                    <ion-select-option value="specialityeesto1">{{ 'messages.specialityeesto1' | translate }}</ion-select-option>
                                    <ion-select-option value="specialityeesto2">{{ 'messages.specialityeesto2' | translate }}</ion-select-option>
                                    <ion-select-option value="specialityeesto3">{{ 'messages.specialityeesto3' | translate }}</ion-select-option>
                                    <ion-select-option value="specialityeesto4">{{ 'messages.specialityeesto4' | translate }}</ion-select-option>
                                    <ion-select-option value="specialityeesto5">{{ 'messages.specialityeesto5' | translate }}</ion-select-option>
                                    <ion-select-option value="specialityeesto6">{{ 'messages.specialityeesto6' | translate }}</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <!-- Es enfermero -->
                            <ion-item *ngIf="user.showIsNurse">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.isnurse" | translate }}</ion-label>
                                <ion-checkbox slot="end" [(ngModel)]="profile.is_nurse" name="is_nurse"></ion-checkbox>
                            </ion-item>
                            <!-- Número de criador -->
                            <ion-item *ngIf="user.showBreeder">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.breeder" | translate }}</ion-label>
                                <ion-checkbox slot="end" [(ngModel)]="profile.breeder" name="breeder"></ion-checkbox>
                            </ion-item>
                            <div class="mt-4 grid justify-center">
                                <ion-button (click)="saveProfile()" shape="round">
                                    {{ 'messages.requestprofileupdate' | translate }}
                                </ion-button>
                            </div>
                        </ion-list>
                    </div>
                    <div>
                        <div *ngIf="profile == null">
                            <ion-skeleton-text animated class="w-20 h-20 m-auto"></ion-skeleton-text>
                            <ion-list>
                                <ion-item *ngFor="let item of [1,1,1,1]">
                                    <ion-skeleton-text animated class="w-full"></ion-skeleton-text>
                                </ion-item>

                            </ion-list>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </ng-template>
        <ng-template swiperSlide>
            <ion-refresher slot="fixed" (ionRefresh)="setData($event)" pullFactor="0.8" pullMin="60" pullMax="120" [disabled]="!activeLegalTutor">
                <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
            <ion-card>
                <!-- <ion-searchbar class="mt-4" placeholder="{{ 'messages.search' | translate }}" inputmode="text" (ionChange)="searchLegalTutor()" [debounce]="250" animated [(ngModel)]="searchLegalTutorInput"></ion-searchbar> -->
                <ion-card-header>
                    <ion-card-title *ngIf="profile == null" color="primary" class="font-bold text-xl">{{ 'titles.younger' | translate }}</ion-card-title>
                    <ion-card-title *ngIf="profile != null">{{ profile.legalTutors && profile.legalTutors.length > 0 ? ('titles.legaltutor' | translate) : ('titles.younger' | translate) }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-list *ngIf="profile">
                        <div *ngFor="let legalTutor of legalTutors">
                            <app-legal-tutor [legalTutor]="legalTutor" [isYounger]="profile.dependents && profile.dependents.length > 0"></app-legal-tutor>
                        </div>
                    </ion-list>
                    <ion-list *ngIf="profile == null">
                        <ion-item *ngFor="let item of [1,1,1]">
                            <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
                            <ion-label>
                                <h3>
                                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                                </h3>
                                <p>
                                    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                                </p>
                            </ion-label>
                            <ion-skeleton-text style="width: 50px; height: 50px;" slot="end"></ion-skeleton-text>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ng-template>
    </swiper>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="legalTutor-btn-add" class="hidden" (click)="addLegalTutor()">
        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
