<ion-refresher slot="fixed" (ionRefresh)="setData(1, $event )" pullFactor="0.8" pullMin="60" pullMax="120" [disabled]="!active">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-card>
    <ion-card-header>
        <ion-searchbar class="mt-4" placeholder="{{ 'messages.search' | translate }}" inputmode="text" [debounce]="250" animated [(ngModel)]="searchedText" (ionChange)="search()"></ion-searchbar>
        <div class="grid toolbar-balance">
            <ion-card-title color="primary" class="font-bold text-xl self-center w-full flex-grow">{{ title }}</ion-card-title>
            <ion-item id="year-balance-modal" lines="none" class="justify-self-end h-auto">
                <ion-label position="stacked" class="font-bold">{{ "messages.year" | translate }}: </ion-label>
                <ion-input [value]="year"></ion-input>
                <ion-modal trigger="year-balance-modal" class="cucunver-modal small" #yearBalanceModal>
                    <ng-template>
                        <ion-content>
                            <ion-datetime firstDayOfWeek="1" [value]="year" presentation="year" (ionChange)="changeYear(yearPicker.value, yearBalanceModal)" [yearValues]="years" #yearPicker>
                                <ion-buttons slot="buttons">
                                    <ion-button (click)="yearPicker.confirm()">{{ 'messages.done' | translate }}</ion-button>
                                    <ion-button (click)="reset(yearBalanceModal, 'year')">{{ 'messages.clear' | translate }}</ion-button>
                                </ion-buttons>
                            </ion-datetime>
                        </ion-content>
                    </ng-template>
                </ion-modal>
            </ion-item>
            <ion-item id="month-modal" lines="none" class="justify-self-end">
                <ion-label position="stacked" class="font-bold">{{ "messages.month" | translate }}: </ion-label>
                <ion-input [value]="monthShow != null ? monthShow : ('messages.all' | translate)"></ion-input>
                <ion-modal trigger="month-modal" class="cucunver-modal small" #monthModal>
                    <ng-template>
                        <ion-content>
                            <ion-datetime firstDayOfWeek="1" presentation="month" [value]="month" [monthValues]="months" #monthPicker (ionChange)="changeMonth(monthPicker, monthModal)">
                                <ion-buttons slot="buttons">
                                    <ion-button (click)="monthPicker.confirm()">{{ 'messages.done' | translate }}</ion-button>
                                    <ion-button (click)="reset(monthModal, 'month')">{{ 'messages.clear' | translate }}</ion-button>
                                </ion-buttons>
                            </ion-datetime>
                        </ion-content>
                    </ng-template>
                </ion-modal>
            </ion-item>
        </div>
    </ion-card-header>
    <ion-card-content>
        <ion-list *ngIf="balances != null">
            <div *ngFor="let balance of balances" class="border-b border-b-light-default">
                <app-balance [balance]="balance" (pay)="payBalance($event)"></app-balance>
            </div>
        </ion-list>
        <ion-list *ngIf="balances == null">
            <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                </ion-label>
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="end"></ion-skeleton-text>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll threshold="50px" position="bottom" [disabled]="!hasMore" (ionInfinite)="setData(page, $event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-card-content>
</ion-card>
