<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{ 'messages.boxhasbeendeleted2' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-img class="w-32 m-auto" src="/assets/icon/simbolo_cucunver.svg"></ion-img>
        </ion-card-header>
        <ion-card-content class=" text-center">
            <p class="text-xl font-medium text-dark-default">{{ 'messages.userdeleted1' | translate }}</p>
            <a routerLink="/login" class="m-4 text-lg text-primary-default">{{ 'messages.login' | translate }}</a>
        </ion-card-content>
    </ion-card>
</ion-content>
