<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content scrollDownOnLoad="true">
    <ion-card mode="md">
        <ion-card-content>
            <ion-list *ngIf="messages != null" mode="md">
                <ion-infinite-scroll threshold="50px" position="top" [disabled]="!hasMore">
                    <ion-infinite-scroll-content loadingSpinner="bubbles">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
                <div *ngFor="let message of messages">
                    <ion-item (click)="actions(message)" class="items-start" mode="md">
                        <img [src]="message.sender.avatar" slot="start" class="h-10">
                        <div class="w-full">
                            <div *ngIf="message.editor != null" class="text-sm mb-2 text-medium-default">
                                {{ 'messages.edited' | translate }} <img [src]="message.editor.avatar" class="inline h-6">
                            </div>
                            <div [innerHTML]="message.txt" class="w-full"></div>
                        </div>
                        <ion-img [src]="message.fileImg" slot="end" *ngIf="message.filePath" class="h-10 self-center" (click)="openFile($event, message.filePath)"></ion-img>
                    </ion-item>
                </div>
            </ion-list>
            <ion-list *ngIf="messages == null">
                <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
                    <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                        </p>
                    </ion-label>
                    <ion-skeleton-text style="width: 50px; height: 50px;" slot="end"></ion-skeleton-text>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-fab class="fixed bottom-6" horizontal="end" slot="fixed" vertical="bottom" (click)="addMessage()" *ngIf="message.affectedContest">
        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
