<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-documents-cucunver title="{{ 'titles.publicDocuments' | translate }}" section="myentitypublic"></app-documents-cucunver>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="documentsComponent && documentsComponent.hasActions">
        <ion-fab-button>
            <ion-icon name="add" (click)="documentsComponent.openModal()"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
