<ion-header>
    <ion-toolbar color="primary">
        <ion-title *ngIf="activity != null">{{ activity.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="getAttendance(1, $event)" pullFactor="0.8" pullMin="60" pullMax="120">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-card-header>
            <!-- <ion-searchbar class="mt-4" placeholder="{{ 'messages.search' | translate }}" inputmode="text" [debounce]="250" animated [(ngModel)]="searchedText" (ionChange)="getAttendance(1)"></ion-searchbar> -->
            <ion-card-title>{{ 'titles.attendance' | translate }}</ion-card-title>
            <ion-segment [(ngModel)]="status" (ionChange)="getAttendance(1)" mode="md">
                <ion-segment-button [value]="-1">
                    <ion-label>{{ 'messages.all' | translate }}</ion-label>
                </ion-segment-button>
                <ion-segment-button [value]="0">
                    <ion-label>{{ 'messages.attendancestatus1' | translate }}</ion-label>
                </ion-segment-button>
                <ion-segment-button [value]="1">
                    <ion-label>{{ 'messages.attendancestatus2' | translate }}</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-card-header>
        <ion-card-content>
            <ion-list class=" w-full" *ngIf="attendance">
                <ion-item *ngFor="let at of attendance">
                    <div class="grid grid-cols-3 w-full">
                        <p>{{ at.date | date:'dd/MM/yyyy' }}</p>
                        <p class="justify-self-center">{{ at.hour }}</p>
                        <ion-img [src]="at.attendanceProfile.statusImg" class="w-6 justify-self-end"></ion-img>
                    </div>
                </ion-item>
            </ion-list>
            <ion-list lines="none" *ngIf="attendance == null">
                <ion-item *ngFor="let message of [1,2,3,4,5,6,7,8]">
                    <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                        </p>
                    </ion-label>
                    <ion-skeleton-text style="width: 50px; height: 50px;" slot="end"></ion-skeleton-text>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll threshold="50px" position="bottom" [disabled]="!hasMore" (ionInfinite)="getAttendance(page, $event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-card-content>
    </ion-card>
</ion-content>
