<app-header title="configuration"></app-header>

<ion-content>
    <swiper #swiper [config]="slideOptions" class="grid">
        <ng-template swiperSlide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{ 'titles.account-and-profile' | translate }}</ion-card-title>
                </ion-card-header>
                <ion-card-content *ngIf="user">
                    <div class="mt-4">
                        <h3 class="text-primary-default font-bold">{{ 'messages.authentication' | translate }}</h3>
                        <div class="grid grid-rows-3 gap-y-2 m-4">
                            <button id="change-password" class="rounded-full bg-primary-default text-light-default font-bold my-1">
                                {{ 'messages.change-password' | translate | uppercase }}
                            </button>
                            <ion-modal trigger="change-password" class="cucunver-modal" #changePasswordModal>
                                <ng-template>
                                    <ion-content>
                                        <ion-header>
                                            <ion-toolbar color="primary">
                                                <ion-title>{{ 'messages.change-password' | translate }}</ion-title>
                                            </ion-toolbar>
                                        </ion-header>
                                        <ion-list lines="none">
                                            <ion-item>
                                                <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.currentpassword' | translate }}</ion-label>
                                                <ion-input type="password" [(ngModel)]="changePasswordObject.currentPassword" class="border-0"></ion-input>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.resetpassword6' | translate }}</ion-label>
                                                <ion-input type="password" [(ngModel)]="changePasswordObject.newPassword" class="border-0"></ion-input>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.resetpassword5' | translate }}</ion-label>
                                                <ion-input type="password" [(ngModel)]="changePasswordObject.repeatNewPassword" class="border-0"></ion-input>
                                            </ion-item>
                                        </ion-list>
                                        <div class="absolute bottom-0 w-full">
                                            <div class="grid grid-cols-2 justify-items-center">
                                                <ion-button (click)="changePassword(changePasswordModal)" shape="round">
                                                    {{ 'messages.save' | translate }}
                                                </ion-button>
                                                <ion-button (click)="changePasswordModal.dismiss()" shape="round" color="light">
                                                    {{ 'messages.cancel' | translate }}
                                                </ion-button>
                                            </div>
                                        </div>
                                    </ion-content>
                                </ng-template>
                            </ion-modal>
                            <p class="self-center text-dark-default">{{ 'messages.your-current-access-email' | translate }}: <span class="font-bold">{{ user.email }}</span></p>
                            <button id="change-email" class="rounded-full bg-primary-default text-light-default font-bold my-1">
                                {{ 'messages.change-my-access-email' | translate | uppercase }}
                            </button>
                            <ion-modal trigger="change-email" class="cucunver-modal" #changeEmailModal>
                                <ng-template>
                                    <ion-content>
                                        <ion-header>
                                            <ion-toolbar color="primary">
                                                <ion-title>{{ 'messages.change-my-access-email' | translate }}</ion-title>
                                            </ion-toolbar>
                                        </ion-header>
                                        <ion-list lines="none">
                                            <ion-item>
                                                <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.write-your-new-email' | translate }}</ion-label>
                                                <ion-input type="email" [(ngModel)]="changeEmailObject.newEmail" class="border-0"></ion-input>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.resetpassword5' | translate }}</ion-label>
                                                <ion-input type="password" [(ngModel)]="changeEmailObject.currentPassword" class="border-0"></ion-input>
                                            </ion-item>
                                        </ion-list>
                                        <div class="absolute bottom-0 w-full">
                                            <div class="grid grid-cols-2 justify-items-center">
                                                <ion-button (click)="changeEmail(changeEmailModal)" shape="round">
                                                    {{ 'messages.save' | translate }}
                                                </ion-button>
                                                <ion-button (click)="changeEmailModal.dismiss()" shape="round" color="light">
                                                    {{ 'messages.cancel' | translate }}
                                                </ion-button>
                                            </div>
                                        </div>
                                    </ion-content>
                                </ng-template>
                            </ion-modal>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h3 class="text-primary-default font-bold">{{ 'messages.language-and-region' | translate }}</h3>
                        <div class="mt-4 mb-4">
                            <ion-item lines="none">
                                <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.language' | translate }}</ion-label>
                                <ion-select [(ngModel)]="user.language" class="border-0 w-full">
                                    <ion-select-option *ngFor="let lang of languages | async" [value]="lang.value">{{ 'languages.' + lang.tag | translate }}</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.timezone' | translate }}</ion-label>
                                <ion-select [(ngModel)]="user.timeZone" class="border-0 w-full" [interfaceOptions]="{cssClass: 'cucunver-90-width'}">
                                    <ion-select-option *ngFor="let timezone of timezones | async" [value]="timezone.value">{{ 'timezones.' + timezone.tag | translate }}</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-button (click)="changeTimezoneAndLang()" shape="round" expand="block" class="ml-4 mr-4">
                                {{ 'messages.save' | translate }}
                            </ion-button>
                        </div>
                    </div>
                    <div class="mt-4">
                        <ion-button (click)="deleteAccount()" expand="block" fill="clear" shape="round" color="danger">
                            {{ 'messages.deleteaccount' | translate }}
                        </ion-button>
                    </div>
                </ion-card-content>
                <ion-card-content *ngIf="user == null">
                    <ion-skeleton-text animated class="w-20 h-20 m-auto"></ion-skeleton-text>
                    <ion-list>
                        <ion-item *ngFor="let item of [1,1,1,1]">
                            <ion-skeleton-text animated class="w-full"></ion-skeleton-text>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ng-template>
        <ng-template swiperSlide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{ 'menuOpts.notifications' | translate }}</ion-card-title>
                </ion-card-header>
                <ion-card-content *ngIf="user">
                    <ion-list lines="none">
                        <ion-item>
                            <p class="text-primary-default">{{ 'messages.notification-silent' | translate }}</p>
                            <ion-checkbox [(ngModel)]="user.options.silent_app"></ion-checkbox>
                        </ion-item>
                        <p class="mx-4">{{ 'messages.notification-silent-subtitle' | translate }}</p>
                        <ion-list-header>
                            <ion-label color="primary" class="text-lg font-bold">{{ 'messages.notification-display' | translate }}</ion-label>
                        </ion-list-header>
                        <ion-item>
                            <p class="text-medium-default">{{ 'messages.select-all' | translate }}</p>
                            <ion-checkbox [(ngModel)]="masterCheck1" [indeterminate]="isIndeterminate1" (click)="checkMaster('notification-display')"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <p>{{ 'messages.notification-activity' | translate }}</p>
                            <ion-checkbox [(ngModel)]="user.options.activity_registry" (ionChange)="checkEvent('notification-display')"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <p>{{ 'messages.notification-mail' | translate }}</p>
                            <ion-checkbox [(ngModel)]="user.options.email_notifications" (ionChange)="checkEvent('notification-display')"></ion-checkbox>
                        </ion-item>
                        <ion-list-header>
                            <ion-label color="primary" class="text-lg font-bold">{{ 'messages.me-notification' | translate }}</ion-label>
                        </ion-list-header>
                        <ion-item>
                            <p class="text-medium-default">{{ 'messages.select-all' | translate }}</p>
                            <ion-checkbox [(ngModel)]="masterCheck2" [indeterminate]="isIndeterminate2" (click)="checkMaster('me-notification')">
                                </ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <p>{{ 'messages.request-me-data-change' | translate }}</p>
                            <ion-checkbox [(ngModel)]="user.options.me_data_request" (ionChange)="checkEvent('me-notification')"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <p>{{ 'titles.activities' | translate }}</p>
                            <ion-checkbox [(ngModel)]="user.options.me_activities" (ionChange)="checkEvent('me-notification')"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <p>{{ 'messages.reception-notificaciones' | translate }}</p>
                            <ion-checkbox [(ngModel)]="user.options.me_comunications_reception" (ionChange)="checkEvent('me-notification')"></ion-checkbox>
                        </ion-item>
                        <ion-button (click)="saveNotifications()" expand="block" shape="round">
                            {{ 'messages.save' | translate }}
                        </ion-button>
                    </ion-list>
                </ion-card-content>
                <ion-card-content *ngIf="user == null">
                    <ion-skeleton-text animated class="w-20 h-20 m-auto"></ion-skeleton-text>
                    <ion-list>
                        <ion-item *ngFor="let item of [1,1,1,1]">
                            <ion-skeleton-text animated class="w-full"></ion-skeleton-text>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ng-template>
    </swiper>
</ion-content>
