<ion-accordion-group>
    <ion-accordion>
        <div slot="header" class="flex flex-1" (click)="action()">
            <div class="w-full">
                <p class="font-black text-base text-dark-default">{{ balance.title }}</p>
                <p class="text-xs">{{ balance.date | date:'dd/MM/yyyy' }}</p>
                <p class="text-xs">{{ balance.amount | currency:'EUR' }}</p>
            </div>
            <div class="self-center">
                <ion-img [src]="balance.statusImg" class="h-6"></ion-img>
            </div>
        </div>
        <ion-list slot="content" *ngIf="showPartial">
            <ion-item *ngFor="let partial of balance.partial;">
                <div class="flex flex-1">
                    <p class="font-bold w-full">{{ partial.title }}</p>
                    <div class="justify-end">
                        <p class="text-xs">{{ partial.date | date:'dd/MM/yyyy' }}</p>
                        <p class="text-xs">{{ partial.amount | currency:'EUR' }}</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-accordion>
</ion-accordion-group>
