<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="menu-main"></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ "menuOpts." + title | translate }}</ion-title>
        <ion-avatar slot="end" class="grid" (click)="onClick($event)">
            <img [src]="avatar" class="w-10/12 m-auto align-middle bg-light-default" *ngIf="avatar"/>
        </ion-avatar>
    </ion-toolbar>
    <ion-popover #configPopover mode="md">
        <ng-template>
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-avatar class="m-auto mt-2">
                        <img [src]="avatar"/>
                    </ion-avatar>
                    <ion-title class="text-center">{{ user.email }}</ion-title>
                </ion-toolbar>
            </ion-header>
          <ion-content>
              <ion-list lines="none">
                  <ion-item (click)="configuration(configPopover)">
                      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                      <ion-label>{{ 'menuOpts.configuration' | translate }}</ion-label>
                  </ion-item>
                  <ion-item (click)="logout(configPopover)">
                      <ion-icon slot="start" name="close-circle-outline"></ion-icon>
                      <ion-label>{{ 'titles.logout' | translate }}</ion-label>
                  </ion-item>
              </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
</ion-header>