<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{ 'messages.login' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="confirm == false">
        <ion-card-header>
            <ion-img class="w-10/12 m-auto" src="/assets/icon/logo-mobile.png"></ion-img>
            <ion-card-subtitle class="text-center text-base m-8" color="primary">{{ 'messages.forgottenPassword' | translate }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <form (ngSubmit)="forgotten(fLogin)" #fLogin="ngForm">
                <ion-item lines="none" class="text-center mb-4">
                    <p>{{ "messages.forgotten1" | translate }}</p>
                </ion-item>
                <ion-item lines="none" class="text-center mb-4">
                    <p>{{ "messages.forgotten2" | translate }}</p>
                </ion-item>
                <ion-item lines="none" class="text-medium-default mb-6">
                    <!-- <ion-label position="stacked" class="mb-2 text-lg">{{ 'messages.email' | translate }}<ion-text color="danger">*</ion-text></ion-label> -->
                    <ion-input required [(ngModel)]="forgottenUser.email" type="email" name="email" class="rounded p-1 pl-4 border-medium-default" placeholder="{{ 'messages.mail' | translate }}*"></ion-input>
                </ion-item>
                <ion-item class="mt-4 mb-4" lines="none">
                    <p>{{ 'messages.yes_account' | translate }} <a routerLink="/login" class="text-primary-default m-0 p-0">{{ "messages.login" | translate }}</a></p>
                </ion-item>
                <ion-button block color="primary" type="submit" class="m-4 grid justify-center">
                    {{ 'messages.forgotten3' | translate }}
                </ion-button>
            </form>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="confirm == true">
        <ion-card-header>
            <ion-img class="w-10/12 m-auto" src="/assets/icon/logo-mobile.png"></ion-img>
            <ion-card-subtitle class="text-center text-base m-8" color="primary">{{ 'messages.forgotten4' | translate }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-item lines="none" class="text-center mb-4">
                <p [innerHTML]="msg"></p>
            </ion-item>
            <ion-item class="text-center mt-4 mb-4" lines="none">
                <p>{{ 'messages.forgotten7' | translate }} <a (click)="reset()" class="text-primary-default m-0 p-0">{{ "messages.forgotten8" | translate }}</a></p>
            </ion-item>
            <ion-item class="text-center mt-4 mb-4" lines="none">
                <p>{{ 'messages.yes_account' | translate }} <a routerLink="/login" class="text-primary-default m-0 p-0">{{ "messages.login" | translate }}</a></p>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
