<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="cucunverFile.id == null">{{ 'titles.addFiles' | translate }}</ion-title>
        <ion-title *ngIf="cucunverFile.id">{{ cucunverFile.type == 0 ? ('titles.renamefile' | translate): ('titles.renamedirectory' | translate) }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #fFileNew="ngForm" (ngSubmit)="save()">
        <ion-list *ngIf="cucunverFile.id == null">
            <ion-radio-group name="type" [(ngModel)]="cucunverFile.type">
                <ion-list-header>
                    <ion-label>{{ 'messages.type' | translate }}</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-label>{{ 'messages.folder' | translate }}</ion-label>
                    <ion-radio [value]="0"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>{{ 'messages.file' | translate }}</ion-label>
                    <ion-radio [value]="1"></ion-radio>
                </ion-item>
            </ion-radio-group>
            <ion-item *ngIf="cucunverFile.type == 1">
                <input type="file" (change)="onFileChange($event)" multiple />
            </ion-item>
            <ion-item *ngIf="cucunverFile.type == 0">
                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.name" | translate }}
                </ion-label>
                <ion-input [(ngModel)]="cucunverFile.name" name="name"></ion-input>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="cucunverFile.id">
            <ion-item>
                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.name" | translate }}
                </ion-label>
                <ion-input [(ngModel)]="cucunverFile.name" name="name"></ion-input>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
<ion-footer>
    <div class="w-full grid grid-cols-2 justify-items-center">
        <ion-button color="light" (click)="close()" shape="round">
            {{ 'messages.cancel' | translate }}
        </ion-button>
        <ion-button shape="round" (click)="fFileNew.onSubmit($event)">
            {{ 'messages.save' | translate }}
        </ion-button>
    </div>
</ion-footer>
