<ion-header>
    <ion-toolbar color="primary">
        <ion-title *ngIf="activity != null">{{ activity.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-documents-cucunver title="{{ 'titles.documents' | translate }}" section="activitiesmember" [id]="activity.id" *ngIf="activity"></app-documents-cucunver>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="documentsComponent && documentsComponent.hasActions">
        <ion-fab-button>
            <ion-icon name="add" (click)="documentsComponent.openModal()"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
