<ion-refresher slot="fixed" (ionRefresh)="getPaymethods(1, $event)" pullFactor="0.8" pullMin="60" pullMax="120" [disabled]="!active">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-card>
    <ion-card-header>
        <ion-searchbar class="mt-4" placeholder="{{ 'messages.search' | translate }}" inputmode="text" [debounce]="250" animated [(ngModel)]="searchedText" (ionChange)="getPaymethods(1)"></ion-searchbar>
        <ion-card-title color="primary" class="font-bold text-xl self-center w-full">{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list *ngIf="paymethods != null">
            <div *ngFor="let paymethod of paymethods">
                <ion-item (click)="actions(paymethod)">
                    <ion-icon *ngIf="paymethod.type == 1" slot="start" name="logo-usd"></ion-icon>
                    <ion-icon *ngIf="paymethod.type == 2" slot="start" name="business"></ion-icon>
                    <ion-icon *ngIf="paymethod.type == 3" slot="start" name="id-card"></ion-icon>
                    <ion-icon *ngIf="paymethod.type == 4" slot="start" name="card"></ion-icon>
                    <div class="w-full" *ngIf="paymethod.type == 3 || paymethod.type == 4">
                        <p class="font-black text-base">{{ paymethod.holder }}</p>
                        <p class="text-xs text-medium-default">{{ paymethod.numberFormat }}</p>
                        <p class="text-xs text-medium-default">{{ paymethod.created_at }}</p>
                    </div>
                    <div class="w-full" *ngIf="paymethod.type == 1 || paymethod.type == 2">
                        <p class="font-black text-base">{{ 'messages.paymenttype' + paymethod.type | translate }}</p>
                        <p class="text-xs text-medium-default">{{ paymethod.created_at }}</p>
                    </div>
                    <ion-img *ngIf="paymethod.default != ''" [src]="paymethod.default" class="w-6" [alt]="paymethod.default"></ion-img>
                </ion-item>
            </div>
        </ion-list>
        <ion-list *ngIf="paymethods == null">
            <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                </ion-label>
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="end"></ion-skeleton-text>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll threshold="50px" position="bottom" [disabled]="!hasMore" (ionInfinite)="getPaymethods(page, $event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-card-content>
</ion-card>
