<ion-card>
    <ion-card-header>
        <ion-card-title>{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-refresher *ngIf="isEntitySection" slot="fixed" (ionRefresh)="setData($event)" pullFactor="0.8" pullMin="60" pullMax="120">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <div *ngIf="entity != null">
            <ion-img [src]="entity.avatar" class="avatar"></ion-img>
            <ion-list>
                <ion-item>
                    <ion-label position="stacked" class="font-bold">{{ "messages.name" | translate }}</ion-label>
                    <ion-input [value]="entity.firstName" readonly></ion-input>
                </ion-item>
                <ion-item *ngIf="isEntitySection">
                    <ion-label position="stacked" class="font-bold">{{ "messages.shortName" | translate }}</ion-label>
                    <ion-input [value]="entity.shortName" readonly></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" class="font-bold">{{ "messages.phone" | translate }}</ion-label>
                    <ion-input [value]="entity.phone" readonly></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" class="font-bold">{{ "messages.mail" | translate }}</ion-label>
                    <ion-input [value]="entity.email" readonly></ion-input>
                </ion-item>
                <ion-item *ngIf="isEntitySection">
                    <ion-label position="stacked" class="font-bold">{{ "messages.socialAddress" | translate }}</ion-label>
                    <ion-input [value]="entity.socialAddress" readonly></ion-input>
                </ion-item>
                <ion-item *ngIf="isEntitySection">
                    <ion-label position="stacked" class="font-bold">{{ "messages.pc" | translate }}</ion-label>
                    <ion-input [value]="entity.pc" readonly></ion-input>
                </ion-item>
                <ion-item *ngIf="isEntitySection">
                    <ion-label position="stacked" class="font-bold">{{ "messages.town" | translate }}</ion-label>
                    <ion-input [value]="entity.town" readonly></ion-input>
                </ion-item>
                <ion-item *ngIf="isEntitySection">
                    <ion-label position="stacked" class="font-bold">{{ "messages.country" | translate }}</ion-label>
                    <ion-input [value]="entity.country" readonly></ion-input>
                </ion-item>
                <ion-item *ngIf="isEntitySection">
                    <ion-label position="stacked" class="font-bold">{{ "messages.province" | translate }}</ion-label>
                    <ion-input [value]="entity.province" readonly></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" class="font-bold">{{ "messages.web" | translate }}</ion-label>
                    <ion-input [value]="entity.website" readonly></ion-input>
                </ion-item>
                <ion-item *ngIf="entity.socialNetworks.length > 0">
                    <ion-label position="stacked" class="font-bold">{{ "messages.socialNetwork" | translate }}</ion-label>
                </ion-item>
                <div *ngIf="entity.socialNetworks.length > 0">
                    <ion-chip *ngFor="let item of entity.socialNetworks" class="m-4" (click)="open(item.url)">
                        <ion-icon name="logo-{{ item.icon }}" class="m-0"></ion-icon>
                    </ion-chip>
                </div>

            </ion-list>
        </div>
        <div *ngIf="entity == null">
            <ion-skeleton-text animated class="w-20 h-20 m-auto"></ion-skeleton-text>
            <ion-list>
                <ion-item *ngFor="let item of [1,1,1,1]">
                    <ion-skeleton-text animated class="w-full"></ion-skeleton-text>
                </ion-item>

            </ion-list>
        </div>
    </ion-card-content>
</ion-card>
