<app-header title="myentity"></app-header>
<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="entitydata">
            <ion-icon name="person-circle-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="documents">
            <ion-icon name="documents-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="affiliate-card" *ngIf="user && user.currentProfile.showAffiliateCard">
            <ion-icon name="id-card-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
