<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content >
    <app-entity [isEntitySection]="true" title="{{ 'titles.entityData' | translate }}"></app-entity>
</ion-content>
