<ion-card>
    <ion-card-header>
        <ion-card-title>{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div style="text-align:center" *ngIf="balance != null" id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                [dataLabels]="chartOptions.dataLabels" [markers]="chartOptions.markers" [stroke]="chartOptions.stroke"
                [tooltip]="chartOptions.tooltip" [colors]="chartOptions.colors" [noData]="chartOptions.noData"></apx-chart>
        </div>
        <div *ngIf="balance == null" id="chart">
            <ion-skeleton-text animated class="w-full h-full"></ion-skeleton-text>
        </div>
    </ion-card-content>
</ion-card>