<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content scrollDownOnLoad="true">
    <app-notes title="{{ 'titles.notes' | translate }}" section="member" [table_id]="user.profile_id" *ngIf="user"></app-notes>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="notesComponent.addNote()">
        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
