<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="getAffiliateCard($event)" pullFactor="0.8" pullMin="60" pullMax="120">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngIf="affiliateCard && user" class="tag{{ affiliateCard.color }} text-light-default">
            <div class="grid grid-cols-3 justify-items-center p-2">
                <ion-avatar>
                    <img [src]="user.currentProfile.avatar" />
                </ion-avatar>
                <div class=" justify-self-start">
                    <p class="text-lg font-bold">{{ affiliateCard.title }}</p>
                    <p>{{ affiliateCard.affiliate_id == 0 ? user.currentProfile.affiliate.name : affiliateCard.affiliate.name }}</p>
                </div>
                <ion-avatar>
                    <img [src]="user.currentEntity.avatar" />
                </ion-avatar>
            </div>
            <div class="grid grid-cols-3 justify-items-center p-2">
                <div class="col-span-2 grid grid-cols-2 grid-rows-2 gap-2 w-full pl-2">
                    <p><span class="font-semibold">{{ 'messages.name' | translate }}:</span> {{ user.currentProfile.fullName }}</p>
                    <p><span class="font-semibold">{{ 'messages.affiliateNumber' | translate }}:</span> {{ user.currentProfile.affiliateNumber }}</p>
                    <p><span class="font-semibold">{{ 'messages.validatedatestart' | translate }}:</span> {{ affiliateCard.validateStart }}</p>
                    <p><span class="font-semibold">{{ 'messages.validatedateend' | translate }}:</span> {{ affiliateCard.validateEnd }}</p>
                </div>
                <div>
                    <qrcode [qrdata]="affiliateCard.qr" [width]="90" [margin]="0"></qrcode>
                </div>
            </div>

    </ion-card>

    <ion-card *ngIf="affiliateCard == null || user == null">
        <div class="h-full">
            <div class="h-2/4">
                <ion-skeleton-text class="w-full h-full"></ion-skeleton-text>
            </div>
            <div class="m-4">
                <ion-skeleton-text animated class="w-full"></ion-skeleton-text>
            </div>
            <div class="grid grid-cols-2 m-4">
                <ion-skeleton-text animated class="w-1/3"></ion-skeleton-text>
                <ion-skeleton-text animated class="w-1/3"></ion-skeleton-text>
            </div>
            <div class="h-1/3">
                <ion-skeleton-text animated class="w-full h-full"></ion-skeleton-text>
            </div>
        </div>
    </ion-card>
</ion-content>
