<ion-accordion-group>
    <ion-accordion>
        <div slot="header" class="flex flex-1">
            <div class="w-full">
                <p class="font-black text-base text-dark-default">{{ pqy.quota.title }}</p>
                <p class="text-xs">{{ pqy.pq.dateStart | date:'dd/MM/yyyy' }} - {{ pqy.pq.dateEnd | date:'dd/MM/yyyy' }}</p>
                <p class="text-xs">{{ 'messages.periocity' + pqy.pq.periodicity | translate }}</p>
            </div>
            <div class="self-center">
                <ion-icon slot="icon-only" name="chevron-down" class="ion-accordion-toggle-icon"></ion-icon>
            </div>
        </div>

        <ion-list slot="content">
            <div *ngIf="pqyConverted.length > 0">
                <ion-item *ngFor="let profileqy of pqyConverted;">
                    <div class="w-full">
                        <p class="font-bold">{{ 'messages.quotamonth' | translate:{month:('months.'+profileqy.month | translate | lowercase), year: pqy.year} }}</p>
                        <p class="text-xs">{{ profileqy.amount | currency:'EUR' }}</p>
                        <p class="text-xs">{{ 'messages.paymenttype' + profileqy.paymenttype | translate }}</p>
                    </div>
                    <ion-img [src]="profileqy.paidImg" class="h-6"></ion-img>
                </ion-item>
            </div>
            <div *ngIf="pqyConverted.length == 0">
                <ion-item>
                    <p class="text-secondary-default">{{ 'messages.quotanoaffected3' | translate: {year: pqy.year } }}</p>
                </ion-item>
            </div>
        </ion-list>
    </ion-accordion>
</ion-accordion-group>
