<app-header title="myprofile"></app-header>
<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profiledata">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="notes">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="treasury">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="documents">
        <ion-icon name="documents-outline"></ion-icon>
      </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>
