.tag0 {
    border-color: var(--tag-0-color);
    color: var(--tag-0-color);
}

.tag1 {
    border-color: var(--tag-1-color);
    color: var(--tag-1-color);
}

.tag2 {
    border-color: var(--tag-2-color);
    color: var(--tag-2-color);
}

.tag3 {
    border-color: var(--tag-3-color);
    color: var(--tag-3-color);
}

.tag4 {
    border-color: var(--tag-4-color);
    color: var(--tag-4-color);
}

.tag5 {
    border-color: var(--tag-5-color);
    color: var(--tag-5-color);
}

.tag6 {
    border-color: var(--tag-6-color);
    color: var(--tag-6-color);
}

.tag7 {
    border-color: var(--tag-7-color);
    color: var(--tag-7-color);
}

.tag8 {
    border-color: var(--tag-8-color);
    color: var(--tag-8-color);
}

.tag9 {
    border-color: var(--tag-9-color);
    color: var(--tag-9-color);
}

.tag10 {
    border-color: var(--tag-10-color);
    color: var(--tag-10-color);
}

.tag11 {
    border-color: var(--tag-11-color);
    color: var(--tag-11-color);
}

.tag12 {
    border-color: var(--tag-12-color);
    color: var(--tag-12-color);
}

.tag13 {
    border-color: var(--tag-13-color);
    color: var(--tag-13-color);
}

.tag14 {
    border-color: var(--tag-14-color);
    color: var(--tag-14-color);
}

.tag15 {
    border-color: var(--tag-15-color);
    color: var(--tag-15-color);
}

.tag16 {
    border-color: var(--tag-16-color);
    color: var(--tag-16-color);
}

.tag17 {
    border-color: var(--tag-17-color);
    color: var(--tag-17-color);
}

.tag18 {
    border-color: var(--tag-18-color);
    color: var(--tag-18-color);
}
