<ion-refresher slot="fixed" (ionRefresh)="getNews(1, $event)" pullFactor="0.8" pullMin="60" pullMax="120" *ngIf="!inHome">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-card>
    <ion-card-header>
        <ion-searchbar *ngIf="!inHome" class="mt-4" placeholder="{{ 'messages.search' | translate }}" inputmode="text" [debounce]="250" animated [(ngModel)]="searchedText" (ionChange)="getNews(1)"></ion-searchbar>
        <ion-card-title>{{ title }}</ion-card-title>
        <ion-segment [(ngModel)]="newsTagId" *ngIf="!inHome" (ionChange)="getNews(1)" scrollable mode="md">
            <ion-segment-button [value]="0">
                <ion-label>{{  'messages.all' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button [value]="tag.id" *ngFor="let tag of tags">
                <ion-label>{{  tag.title }}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-card-header>
    <ion-card-content>
        <div *ngIf="newsList != null" class="md:grid {{ !inHome ? 'md:grid-cols-2' : '' }}">
            <ion-card *ngFor="let news of newsList" class="card-line" (click)="openLink(news.link)">
                <img [src]="news.img" class="m-auto">
                <ion-card-header class="overflow-hidden max-h-14 md:max-h-18 p-0 m-4">
                    <ion-card-title class=" font-black text-xl">{{ news.title }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="grid grid-cols-3">
                        <div *ngIf="news.tags.length > 0" class="col-span-2">
                            <div *ngFor="let tag of news.tags; let i = index" class="inline">
                                <ion-chip class="border tag{{ tag.tag.color }}" outline="true" *ngIf="i < 2">
                                    <ion-label *ngIf="news.tags.length > 0 && news.tags.length <= 1">{{ tag.tag.title }}</ion-label>
                                    <ion-label *ngIf="news.tags.length > 1">{{ tag.tag.title | slice : 0 : 1 | uppercase }}</ion-label>
                                </ion-chip>
                            </div>
                            <ion-chip outline="true" *ngIf="news.tags.length > 2" class="border">
                                <ion-label>+{{ news.tags.length - 2 }}</ion-label>
                            </ion-chip>
                        </div>
                        <div *ngIf="news.tags.length == 0" class="col-span-2">
                            <ion-chip color="secondary" outline="true" class="border border-current">
                                <ion-label>{{ 'messages.withoutTags' | translate }}</ion-label>
                            </ion-chip>
                        </div>
                        <div class="justify-self-end">
                            <ion-chip color="primary" outline="true" class="border border-current">
                                <ion-label>{{ news.date | date:'dd/MM/yyyy' }}</ion-label>
                            </ion-chip>
                        </div>
                    </div>
                    <div class="text-justify mt-4">
                        <p>
                            {{news.description}}
                        </p>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
        <ion-infinite-scroll threshold="50px" position="bottom" [disabled]="!hasMore" (ionInfinite)="getNews(page, $event)" *ngIf="!inHome">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-card-content>
</ion-card>
