<ion-card>
    <ion-card-header>
        <ion-card-title color="primary" class="font-bold text-xl">{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list *ngIf="notes != null">
            <ion-infinite-scroll threshold="50px" position="top" [disabled]="!hasMore" (ionInfinite)="setData($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
            <div *ngFor="let note of notes">
                <ion-item class="items-start" (click)="actions(note)">
                    <img [src]="note.profile.avatar" slot="start" class="h-10">
                    <div class="w-full">
                        <div class="text-sm mb-2 text-medium-default">
                            <span *ngIf="note.editor != null">{{ 'messages.edited' | translate }} </span>
                            <img *ngIf="note.editor != null" [src]="note.editor.avatar" class="inline h-6">
                            - <span>{{ note.updated_at | date:'dd/MM/yyyy HH:mm' }}</span>
                        </div>
                        <div [innerHTML]="note.text" class="w-full"></div>
                    </div>
                    <ion-img [src]="note.fileImg" slot="end" *ngIf="note.filePath" class="h-10 self-center" (click)="openFile($event, note.filePath)"></ion-img>
                </ion-item>
            </div>
        </ion-list>
        <ion-list *ngIf="notes == null">
            <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                </ion-label>
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="end"></ion-skeleton-text>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>