<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ isYounger ? ('titles.add-legalguardian' | translate) : ('titles.addyounger' | translate) }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="modal" *ngIf="countries && newLegalTutor">
        <div class="steps">
            <div [className]="step1Class">
                <form #fLegalTutor="ngForm" (ngSubmit)="continue()">
                    <ion-list >
                        <ion-list-header>
                            <ion-label color="primary">{{ 'messages.contact-data' | translate }}</ion-label>
                        </ion-list-header>
                        <ion-item>
                            <ion-label position="stacked" position="stacked" class="font-bold mb-2">{{ ('messages.relation' | translate) }}*</ion-label>
                            <ion-input type="text" name="relation" [(ngModel)]="newLegalTutor.relationship" #relation="ngModel" required></ion-input>
                        </ion-item>
                        <app-error [control]="relation" [submitted]="fLegalTutor.submitted"></app-error>
                        <ion-item>
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.name' | translate) }}*</ion-label>
                            <ion-input type="text" name="name" [(ngModel)]="newLegalTutor.name" #firstName="ngModel" required></ion-input>
                        </ion-item>
                        <app-error [control]="firstName" [submitted]="fLegalTutor.submitted"></app-error>
                        <ion-item>
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.lastName' | translate) }}</ion-label>
                            <ion-input type="text" name="lastName" [(ngModel)]="newLegalTutor.lastName"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.document-type' | translate) }}</ion-label>
                            <div class="flex flex-auto w-full">
                                <ion-select [(ngModel)]="newLegalTutor.identification_type" name="identification_type" class="w-full pl-0" *ngIf="user.currentEntity.fiscalCountry != 183" (ionChange)="checkNIF()">
                                    <ion-select-option [value]="1">{{ 'messages.nif' | translate }}</ion-select-option>
                                    <ion-select-option [value]="2">{{ 'messages.cif' | translate }}</ion-select-option>
                                    <ion-select-option [value]="3">{{ 'messages.nie' | translate }}</ion-select-option>
                                    <ion-select-option [value]="4">{{ 'messages.pasaport' | translate }}</ion-select-option>
                                </ion-select>
                                <ion-select [(ngModel)]="newLegalTutor.identification_type" name="identification_type" class="w-full pl-0" *ngIf="user.currentEntity.fiscalCountry == 183" (ionChange)="checkNIF()">
                                    <ion-select-option [value]="5">{{ 'messages.identification_type5' | translate }}</ion-select-option>
                                    <ion-select-option [value]="6">{{ 'messages.identification_type6' | translate }}</ion-select-option>
                                </ion-select>
                                <ion-input name="nif" type="text" [(ngModel)]="newLegalTutor.nif" (ionChange)="checkNIF()"></ion-input>
                            </div>
                        </ion-item>
                        <ion-item *ngIf="newLegalTutor.nifError != ''">
                            <p class="text-danger-default">{{ 'errors.' + newLegalTutor.nifError | translate }}</p>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.mail' | translate) }}</ion-label>
                            <ion-input type="email" name="email" [(ngModel)]="newLegalTutor.email"></ion-input>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.photo' | translate) }}</ion-label>
                            <div class="grid grid-cols-2 w-full">
                                <div>
                                    <ion-button expand="full" shape="round" (click)="takePhoto()">
                                        <ion-icon slot="start" name="camera"></ion-icon>
                                        {{  ('messages.camera' | translate) }}
                                    </ion-button>
                                </div>
                                <div>
                                    <ion-button expand="full" shape="round" (click)="getGalleryPhoto()">
                                        <ion-icon slot="start" name="images"></ion-icon>
                                        {{ ('messages.gallery' | translate) }}
                                    </ion-button>
                                </div>
                                <div class="col-span-2" *ngIf="uploadAvatar">
                                    <ion-col size="3">
                                        <ion-card>
                                            <img [src]="newLegalTutor.avatar | imageSanitazer">
                                        </ion-card>
                                    </ion-col>
                                </div>
                            </div>
                        </ion-item>
                        <ion-item (click)="birthdayModal.present();">
                            <ion-label position="stacked" class="font-bold mb-2">{{ "messages.birthday" | translate }}</ion-label>
                            <ion-input [value]="newLegalTutor.birthday | date: 'dd/MM/yyyy'" name="birthday"></ion-input>
                            <ion-modal #birthdayModal class="cucunver-modal border">
                                <ng-template>
                                    <ion-content>
                                        <ion-datetime firstDayOfWeek="1" [value]="newLegalTutor.birthday" presentation="date" (ionChange)="changeDate($event, birthdayModal, 'birthday')"></ion-datetime>
                                    </ion-content>
                                </ng-template>
                            </ion-modal>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.sex' | translate) }}</ion-label>
                            <ion-select name="gender" placeholder="{{ 'messages.choosevalue2' | translate }}" [(ngModel)]="newLegalTutor.gender">
                                <ion-select-option [value]="0">{{ 'messages.sex0' | translate }}</ion-select-option>
                                <ion-select-option [value]="1">{{ 'messages.sex1' | translate }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.address' | translate) }}</ion-label>
                            <ion-input type="text" name="address" [(ngModel)]="newLegalTutor.address"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.country' | translate) }}</ion-label>
                            <ion-select name="country_id" (ionChange)="changeCountry($event)" placeholder="Seleccionar" [value]="newLegalTutor.country.id" placeholder="{{ 'messages.choosevalue2' | translate }}">
                                <ion-select-option [value]="country.id" *ngFor="let country of countries">{{ country.name }}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.province' | translate) }}</ion-label>
                            <ion-select [(ngModel)]="newLegalTutor.province" *ngIf="newLegalTutor.country.working" name="province" placeholder="{{ 'messages.choosevalue2' | translate }}">
                                <ion-select-option [value]="province.name" *ngFor="let province of newLegalTutor.country.provinces">{{ province.name }}
                                </ion-select-option>
                            </ion-select>
                            <ion-input type="text" *ngIf="newLegalTutor.country.working == 0" [(ngModel)]="newLegalTutor.province" name="province">
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.town' | translate) }}</ion-label>
                            <ion-input type="text" name="town" [(ngModel)]="newLegalTutor.town"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.pc' | translate) }}</ion-label>
                            <ion-input type="text" name="pc" [(ngModel)]="newLegalTutor.pc"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.mobilephone' | translate) }}</ion-label>
                            <ion-input type="text" name="phone2" [(ngModel)]="newLegalTutor.phone2"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked" class="font-bold mb-2">{{ ('messages.phone' | translate) }}</ion-label>
                            <ion-input type="text" name="phone" [(ngModel)]="newLegalTutor.phone"></ion-input>
                        </ion-item>
                    </ion-list>
                </form>

            </div>
            <div [className]="step2Class">
                <form #fLegalTutorNew="ngForm" (ngSubmit)="save()">
                    <ion-list>
                        <ion-list-header>
                            <ion-label color="primary">{{ 'messages.economicdata' | translate }}</ion-label>
                        </ion-list-header>
                        <ion-item>
                            <ion-label class="font-bold mb-2">{{ ('messages.paymentmethod2' | translate) }}</ion-label>
                        </ion-item>
                        <ion-radio-group value="0" [(ngModel)]="newLegalTutor.paymethod" name="paymethod" required #paymethod="ngModel" (ionChange)="changePaymethodType()">
                            <ion-item>
                                <ion-label>{{ "messages.paymenttype0" | translate }}</ion-label>
                                <ion-radio value="0"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>{{ "messages.paymenttype1" | translate }}</ion-label>
                                <ion-radio value="1"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>{{ "messages.paymenttype2" | translate }}</ion-label>
                                <ion-radio value="2"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>{{ "messages.paymenttype3" | translate }}</ion-label>
                                <ion-radio value="3"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>{{ "messages.paymenttype4" | translate }}</ion-label>
                                <ion-radio value="4"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                        <app-error [control]="paymethod" [submitted]="fLegalTutorNew.submitted"></app-error>
                        <div id="paymethod-ba" class="border-t" *ngIf="newLegalTutor.paymethod == 3">
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.countholder" | translate }}</ion-label>
                                <ion-input type="text" [(ngModel)]="newLegalTutor.holder" name="holder" #holderBA="ngModel" required></ion-input>
                            </ion-item>
                            <app-error [control]="holderBA" [submitted]="fLegalTutorNew.submitted"></app-error>
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.iban' | translate }}</ion-label>
                                <ion-input type="text" [(ngModel)]="newLegalTutor.number" #numberBA="ngModel" name="number" required></ion-input>
                            </ion-item>
                            <app-error [control]="numberBA" [submitted]="fLegalTutorNew.submitted"></app-error>
                        </div>
                        <div id="paymethod-cc" class="border-t" *ngIf="newLegalTutor.paymethod == 4">
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.holder' | translate }}</ion-label>
                                <ion-input type="text" [(ngModel)]="newLegalTutor.holder" #holderCC="ngModel" name="holder" required></ion-input>
                            </ion-item>
                            <app-error [control]="holderCC" [submitted]="fLegalTutorNew.submitted"></app-error>
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.number' | translate }}</ion-label>
                                <ion-input type="number" [(ngModel)]="newLegalTutor.number" #numberCC="ngModel" name="number" required></ion-input>
                            </ion-item>
                            <app-error [control]="numberCC" [submitted]="fLegalTutorNew.submitted"></app-error>
                            <ion-item  (click)="caducityModal.present()">
                                <ion-label position="stacked" class="font-bold mb-2">{{ "messages.caducitydate" | translate }}</ion-label>
                                <ion-input [(ngModel)]="newLegalTutor.caducity" #caducityModel="ngModel" name="caducity"></ion-input>
                                <ion-modal #caducityModal class="cucunver-modal border" showBackdrop="true">
                                    <ng-template>
                                        <ion-content>
                                            <ion-datetime firstDayOfWeek="1" [value]="caducity" presentation="month-year" [yearValues]="years" #caducityDatetime>
                                                <ion-buttons slot="buttons">
                                                    <ion-button (click)="changeDate(caducityDatetime, caducityModal, 'caducity')">{{ 'messages.done' | translate }}</ion-button>
                                                    <ion-button (click)="caducityModal.dismiss()">{{ 'messages.cancel' | translate }}</ion-button>
                                                  </ion-buttons>
                                            </ion-datetime>
                                        </ion-content>
                                    </ng-template>
                                </ion-modal>
                            </ion-item>
                            <app-error [control]="caducityModel" [submitted]="fLegalTutorNew.submitted"></app-error>
                            <ion-item>
                                <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.cvc' | translate }}</ion-label>
                                <ion-input type="number" name="cvv" #cvv="ngModel" [(ngModel)]="newLegalTutor.cvv" required></ion-input>
                            </ion-item>
                            <app-error [control]="cvv" [submitted]="fLegalTutorNew.submitted"></app-error>
                        </div>
                    </ion-list>
                </form>
            </div>
        </div>

        <div class="footer w-full">
            <div [className]="step1Class">
                <div class="grid grid-cols-2 justify-items-center py-2">
                    <ion-button color="light" (click)="close()" shape="round">
                        {{ 'messages.cancel' | translate }}
                    </ion-button>
                    <ion-button (click)="fLegalTutor.onSubmit($event)" shape="round">
                        {{ 'messages.continue' | translate }}
                    </ion-button>
                </div>
            </div>
            <div [className]="step2Class">
                <div class="grid grid-cols-2 justify-items-center py-2">
                    <ion-button color="light" (click)="back()" shape="round">
                        {{ 'messages.previous' | translate }}
                    </ion-button>
                    <ion-button (click)="fLegalTutorNew.onSubmit($event)" shape="round">
                        {{ 'messages.save' | translate }}
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="countries == null">
        <ion-list lines="none">
            <ion-item *ngFor="let message of [1,2,3,4,5,6,7,8]">
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                </ion-label>
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="end"></ion-skeleton-text>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
