.modal {
    height: 100%;
}
.steps {
    height: calc(100% - 60px);
    overflow: auto;
}

div.footer {
    background-color: white;
    position: fixed;
    bottom: 0;
}

ion-input {
    border: 0;
}


.cucunver-modal::part(backdrop) {
    z-index: 2;
    --backdrop-opacity: 0.32;
}