<div class="mt-4 mb-4 p-1 border border-primary-default rounded-md" *ngIf="profile.hasPetition && showChanges">
    <ion-list class="w-full" lines="none">
        <ion-list-header>
            <ion-label class="font-bold text-base">{{ 'messages.petitionrequest' | translate }}</ion-label>
        </ion-list-header>
        <ion-item *ngIf="profile.addressed != profile.addressed_tmp && user.showWorkplace">
            <ion-label>{{ 'messages.addressed' | translate }}</ion-label>
            <ion-label>{{ profile.addressed_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.firstName != profile.firstName_tmp">
            <ion-label>{{ 'messages.name' | translate }}</ion-label>
            <ion-label>{{ profile.firstName_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.lastName != profile.lastName_tmp">
            <ion-label>{{ 'messages.lastName' | translate }}</ion-label>
            <ion-label>{{ profile.lastName_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.identification_type != profile.identification_type_tmp">
            <ion-label>{{ 'messages.document-type' | translate }}</ion-label>
            <ion-label *ngIf="profile.identification_type_tmp == 1">{{ 'messages.nif' | translate }}</ion-label>
            <ion-label *ngIf="profile.identification_type_tmp == 2">{{ 'messages.cif' | translate }}</ion-label>
            <ion-label *ngIf="profile.identification_type_tmp == 3">{{ 'messages.nie' | translate }}</ion-label>
            <ion-label *ngIf="profile.identification_type_tmp == 4">{{ 'messages.pasaport' | translate }}</ion-label>
            <ion-label *ngIf="profile.identification_type_tmp == 5">{{ 'messages.identification_type5' | translate }}</ion-label>
            <ion-label *ngIf="profile.identification_type_tmp == 6">{{ 'messages.identification_type6' | translate }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.nif != profile.nif_tmp">
            <ion-label>{{ 'messages.document' | translate }}</ion-label>
            <ion-label>{{ profile.nif_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.email != profile.email_tmp">
            <ion-label>{{ 'messages.mail' | translate }}</ion-label>
            <ion-label>{{ profile.email_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.avatar != profile.avatar_tmp">
            <ion-label>{{ 'messages.photo' | translate }}</ion-label>
            <img [src]="profile.avatar_tmp" class="avatar small rounded-full">
        </ion-item>
        <ion-item *ngIf="profile.birthday != profile.birthday_tmp">
            <ion-label>{{ 'messages.birthday' | translate }}</ion-label>
            <ion-label>{{ profile.birthday_tmp | date:'dd/MM/yyyy' }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.gender != profile.gender_tmp">
            <ion-label>{{ 'messages.sex' | translate }}</ion-label>
            <ion-label>{{ 'messages.sex' + profile.gender_tmp | translate }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.address != profile.address_tmp">
            <ion-label>{{ 'messages.address' | translate }}</ion-label>
            <ion-label>{{ profile.address_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="(profile.country && profile.country_tmp && profile.country.id != profile.country_tmp.id) || (!profile.country && profile.country_tmp) || (profile.country && !profile.country_tmp)">
            <ion-label>{{ 'messages.country' | translate }}</ion-label>
            <ion-label>{{ profile.country_tmp.name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.province != profile.province_tmp">
            <ion-label>{{ 'messages.province' | translate }}</ion-label>
            <ion-label>{{ profile.province_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.town != profile.town_tmp">
            <ion-label>{{ 'messages.town' | translate }}</ion-label>
            <ion-label>{{ profile.town_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.pc != profile.pc_tmp">
            <ion-label>{{ 'messages.pc' | translate }}</ion-label>
            <ion-label>{{ profile.pc_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.phone2 != profile.phone2_tmp">
            <ion-label>{{ 'messages.mobilephone' | translate }}</ion-label>
            <ion-label>{{ profile.phone2_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.phone != profile.phone_tmp">
            <ion-label>{{ 'messages.phone' | translate }}</ion-label>
            <ion-label>{{ profile.phone_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.nacionality != profile.nacionality_tmp && user.showWorkplace">
            <ion-label>{{ 'messages.nacionality' | translate }}</ion-label>
            <ion-label>{{ profile.nacionality }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.workplace && profile.workplace_tmp && profile.workplace.id != profile.workplace_tmp.id && user.showWorkplace">
            <ion-label>{{ 'messages.workplace' | translate }}</ion-label>
            <ion-label>{{ profile.workplace_tmp.name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.charge != profile.charge_tmp && user.showWorkplace">
            <ion-label>{{ 'messages.charge' | translate }}</ion-label>
            <ion-label>{{ profile.charge_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.unit != profile.unit_tmp && user.showWorkplace">
            <ion-label>{{ 'messages.unit' | translate }}</ion-label>
            <ion-label>{{ profile.unit_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.speciality != profile.speciality_tmp && user.showWorkplace">
            <ion-label>{{ 'messages.speciality' | translate }}</ion-label>
            <ion-label>{{ profile.speciality_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.n_shops != profile.n_shops_tmp && user.showNShops">
            <ion-label>{{ 'messages.n_shops' | translate }}</ion-label>
            <ion-label>{{ profile.n_shops_tmp }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.speciality_tmp != profile.speciality && user.showSpecialityEESTO">
            <ion-label>{{ 'messages.speciality' | translate }}</ion-label>
            <ion-label>{{ 'messages.' + profile.speciality_tmp | translate }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.is_nurse_tmp != profile.is_nurse && user.showIsNurse">
            <ion-label>{{ 'messages.isnurse' | translate }}</ion-label>
            <ion-label>{{ profile.is_nurse_tmp ? ('messages.yes' | translate) : ('messages.no' | translate) }}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile.breeder_tmp != profile.breeder && user.showBreeder">
            <ion-label>{{ 'messages.breeder' | translate }}</ion-label>
            <ion-label>{{ profile.breeder_tmp }}</ion-label>
        </ion-item>
        <div class="grid grid-cols-2 mt-4 gap-4 justify-items-center">
            <ion-button (click)="edit()" shape="round" class="w-2/3">
                {{ 'messages.edit' | translate }}
            </ion-button>
            <ion-button (click)="cancel()" color="danger" shape="round" class="w-2/3">
                {{ 'messages.cancel' | translate }}
            </ion-button>
        </div>
    </ion-list>
</div>