<ion-refresher slot="fixed" (ionRefresh)="getInvoices(1, $event)" pullFactor="0.8" pullMin="60" pullMax="120" [disabled]="!active">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-card>
    <ion-card-header>
        <ion-searchbar class="mt-4" placeholder="{{ 'messages.search' | translate }}" inputmode="text" [debounce]="250" animated [(ngModel)]="searchedText" (ionChange)="getInvoices(1)"></ion-searchbar>
        <ion-card-title color="primary" class="font-bold text-xl self-center w-full">{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list *ngIf="invoices != null">
            <div *ngFor="let invoice of invoices">
                <ion-item (click)="showBill(invoice)">
                    <div class="w-full">
                        <p class="font-black text-base text-dark-default">{{ invoice.serial }} {{ invoice.number.toString().padStart(4, "0") }}</p>
                        <p class="text-xs">{{ invoice.date | date:'dd/MM/yyyy' }}</p>
                        <p class="text-xs">{{ invoice.amount | currency:'EUR' }}</p>
                    </div>
                    <div class="self-center">
                        <ion-img [src]="invoice.statusImg" class="h-6"></ion-img>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <ion-list *ngIf="invoices == null">
            <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                </ion-label>
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="end"></ion-skeleton-text>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll threshold="50px" position="bottom" [disabled]="!hasMore" (ionInfinite)="getInvoices(page, $event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-card-content>
</ion-card>
