<ion-header>
    <ion-toolbar color="primary">
        <ion-title *ngIf="activity != null">{{ activity.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-messages title="{{ 'titles.messages' | translate }}" *ngIf="activity" [activity_id]="activity.id"></app-messages>
    <ion-fab horizontal="end" slot="fixed" vertical="bottom" (click)="messagesComponent.addMessage()">
        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
