<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ 'titles.paymentadd' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #fPaymethodNew="ngForm" (ngSubmit)="save()">
        <ion-list  *ngIf="paymethod != null">
            <ion-radio-group [(ngModel)]="paymethod.type" name="paymethod" (ionChange)="changePaymethodType()" *ngIf="action == 'new'">
                <ion-list-header>
                    <ion-label>{{ 'messages.paymentmethod2' | translate }}</ion-label>
                </ion-list-header>

                <ion-item *ngIf="!existsType1">
                    <ion-label>{{ 'messages.paymenttype1' | translate }}</ion-label>
                    <ion-radio slot="start" [value]="1"></ion-radio>
                </ion-item>

                <ion-item *ngIf="!existsType2">
                    <ion-label>{{ 'messages.paymenttype2' | translate }}</ion-label>
                    <ion-radio slot="start" [value]="2"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>{{ 'messages.paymenttype3' | translate }}</ion-label>
                    <ion-radio slot="start" [value]="3"></ion-radio>
                </ion-item>
                <ion-item *ngIf="showCreditCard">
                    <ion-label>{{ 'messages.paymenttype4' | translate }}</ion-label>
                    <ion-radio slot="start" [value]="4"></ion-radio>
                </ion-item>
            </ion-radio-group>
            <div class="border-t" *ngIf="paymethod.type == 3">
                <ion-item>
                    <ion-label position="stacked" class="font-bold mb-2">{{ "messages.countholder" | translate }}</ion-label>
                    <ion-input type="text" [(ngModel)]="paymethod.holder" name="holder" #holderBA="ngModel" required></ion-input>
                </ion-item>
                <app-error [control]="holderBA" [submitted]="fPaymethodNew.submitted"></app-error>
                <ion-item>
                    <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.iban' | translate }}</ion-label>
                    <ion-input type="text" [(ngModel)]="paymethod.number" #numberBA="ngModel" name="number" required></ion-input>
                </ion-item>
                <app-error [control]="numberBA" [submitted]="fPaymethodNew.submitted"></app-error>
            </div>
            <div class="border-t" *ngIf="paymethod.type == 4">
                <ion-item>
                    <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.holder' | translate }}</ion-label>
                    <ion-input type="text" [(ngModel)]="paymethod.holder" #holderCC="ngModel" name="holder" required [readonly]="action=='edit'"></ion-input>
                </ion-item>
                <app-error [control]="holderCC" [submitted]="fPaymethodNew.submitted"></app-error>
                <ion-item>
                    <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.number' | translate }}</ion-label>
                    <ion-input [type]="action == 'edit' ? 'text' : 'number'" [(ngModel)]="paymethod.number" #numberCC="ngModel" name="number" required [readonly]="action=='edit'"></ion-input>
                </ion-item>
                <app-error [control]="numberCC" [submitted]="fPaymethodNew.submitted"></app-error>
                <ion-item (click)="caducityModal.present()">
                    <ion-label position="stacked" class="font-bold mb-2">{{ "messages.caducitydate" | translate }}</ion-label>
                    <ion-input [(ngModel)]="paymethod.caducity" #caducityModel="ngModel" name="caducity"></ion-input>
                    <ion-modal #caducityModal class="cucunver-modal border" showBackdrop="true">
                        <ng-template>
                            <ion-content>
                                <ion-datetime firstDayOfWeek="1" [value]="caducity" presentation="month-year" (ionChange)="changeDate($event, caducityModal)" #caducityPicker [yearValues]="years">
                                    <ion-buttons slot="buttons">
                                        <ion-button (click)="caducityPicker.confirm()">{{ 'messages.done' | translate }}</ion-button>
                                        <ion-button (click)="reset(caducityModal)">{{ 'messages.clear' | translate }}</ion-button>
                                    </ion-buttons>
                                </ion-datetime>
                            </ion-content>
                        </ng-template>
                    </ion-modal>
                </ion-item>
                <app-error [control]="caducityModel" [submitted]="fPaymethodNew.submitted"></app-error>
                <div *ngIf="action!='edit'">
                    <ion-item>
                        <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.cvc' | translate }}</ion-label>
                        <ion-input type="number" name="cvv" #cvv="ngModel" [(ngModel)]="paymethod.cvv" required></ion-input>
                    </ion-item>
                    <app-error [control]="cvv" [submitted]="fPaymethodNew.submitted"></app-error>
                </div>
            </div>
        </ion-list>
        <ion-list *ngIf="paymethod == null">
            <ion-item *ngFor="let message of [1,2,3,4,5,6,7,8]">
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                </ion-label>
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="end"></ion-skeleton-text>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
<ion-footer>
    <div class="grid grid-cols-2 justify-items-center">
        <ion-button color="light" (click)="close()" shape="round">
            {{ 'messages.cancel' | translate }}
        </ion-button>
        <ion-button (click)="fPaymethodNew.onSubmit($event)" shape="round">
            {{ 'messages.save' | translate }}
        </ion-button>
    </div>
</ion-footer>
