// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: #2faf87;
    --ion-color-primary-rgb: 47, 175, 135;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #299a77;
    --ion-color-primary-tint: #44b793;

    /** secondary **/
    --ion-color-secondary: #2999bc;
    --ion-color-secondary-rgb: 41, 153, 188;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #2487a5;
    --ion-color-secondary-tint: #3ea3c3;

    /** tertiary **/
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    /** success **/
    --ion-color-success: #2faf87;
    --ion-color-success-rgb: 47, 175, 135;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #299a77;
    --ion-color-success-tint: #44b793;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #cb1548;
    --ion-color-danger-rgb: 203, 21, 72;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #b3123f;
    --ion-color-danger-tint: #d02c5a;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    /** light **/
    --ion-color-light: #f0f0f0;
    --ion-color-light-rgb: 240, 240, 240;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d3d3d3;
    --ion-color-light-tint: #f2f2f2;

    @font-face {
        font-family: 'Open sans';
        font-size: 21px;
        src: url('/assets/fonts/opensans.woff2');
    }

    --ion-font-family: 'Open Sans',
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    "Roboto",
    sans-serif;

    --tag-0-color: rgb(79, 79, 79);
    --tag-1-color: #f6c701;
    --tag-2-color: #f59b07;
    --tag-3-color: #e97d08;
    --tag-4-color: #d55306;
    --tag-5-color: #ea4c31;
    --tag-6-color: #c33821;
    --tag-7-color: #fc5a99;
    --tag-8-color: #f1468a;
    --tag-9-color: #9c56b9;
    --tag-10-color: #8e3fb2;
    --tag-11-color: #5998ff;
    --tag-12-color: #2a68ce;
    --tag-13-color: #0389de;
    --tag-14-color: #105d90;
    --tag-15-color: #00be9c;
    --tag-16-color: #2faf87;
    --tag-17-color: #1bcf6b;
    --tag-18-color: #1aaf5d;

    --swiper-pagination-color: var(--ion-color-primary);
}
