<ion-header>
    <ion-toolbar color="primary">
        <ion-title *ngIf="activity != null">{{ activity.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-notes title="{{ 'titles.notes' | translate }}" section="activitiesmember" [table_id]="activity.id" *ngIf="activity"></app-notes>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="notesComponent.addNote()">
        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
