<ion-refresher slot="fixed" (ionRefresh)="getMessages(1, $event)" pullFactor="0.8" pullMin="60" pullMax="120" *ngIf="!inHome">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-card>
    <ion-card-header>
        <ion-searchbar *ngIf="!inHome" class="mt-4" placeholder="{{ 'messages.search' | translate }}" inputmode="text" [debounce]="250" animated [(ngModel)]="searchedText" (ionChange)="getMessages(1)"></ion-searchbar>
        <ion-card-title>{{ title }}</ion-card-title>
        <ion-segment [(ngModel)]="visible" *ngIf="!inHome" (ionChange)="getMessages(1)" mode="md" scrollable>
            <ion-segment-button [value]="1">
                <ion-label>{{ 'messages.comunicationsearch3' | translate }}</ion-label>
              </ion-segment-button>
            <ion-segment-button [value]="0">
              <ion-label>{{ 'messages.comunicationsearch2' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button [value]="-1">
                <ion-label>{{  'messages.all' | translate }}</ion-label>
              </ion-segment-button>
          </ion-segment>
    </ion-card-header>
    <ion-card-content mode="md">
        <ion-list lines="none" *ngIf="messages != null">
            <div *ngFor="let message of messages">
                <ion-item (click)="actions(message)">
                    <ion-avatar slot="start">
                        <img [src]="message.sender.avatar">
                    </ion-avatar>
                    <ion-label>
                        <h2>{{ message.title }}</h2>
                        <p>{{ message.created_at | date: "dd/MM/yyyy" }}</p>
                    </ion-label>
                    <ion-icon slot="end" name="{{ message.read ? 'mail-open' : 'mail' }}-outline" *ngIf="message.receiver != undefined"></ion-icon>
                </ion-item>
            </div>
        </ion-list>
        <ion-list lines="none" *ngIf="messages == null">
            <ion-item *ngFor="let message of [1,2,3,4,5,6,7,8]">
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
                <ion-label>
                    <h3><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></h3>
                    <p><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></p>
                </ion-label>
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="end"></ion-skeleton-text>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll threshold="50px" position="bottom" [disabled]="!hasMore" (ionInfinite)="getMessages(page, $event)" *ngIf="!inHome">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-card-content>
</ion-card>