<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{ 'messages.login' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-img class="w-10/12 m-auto" src="/assets/icon/logo-mobile.png"></ion-img>
            <ion-card-subtitle class="text-center text-base m-8" color="primary">{{ 'messages.login' | translate }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
                <ion-item lines="none" class="text-medium-default mb-6">
                    <!-- <ion-label position="stacked" class="mb-2 text-lg">{{ 'messages.email' | translate }}<ion-text color="danger">*</ion-text></ion-label> -->
                    <ion-input required [(ngModel)]="loginUser.email" type="email" name="email" class="rounded p-1 pl-4 border-medium-default" placeholder="{{ 'messages.mail' | translate }}*"></ion-input>
                </ion-item>
                <ion-item lines="none"  class="text-medium-default mb-6">
                    <!-- <ion-label position="stacked" class="mb-2 text-lg">{{ 'messages.password' | translate  }} <ion-text color="danger">*</ion-text></ion-label> -->
                    <ion-input required [(ngModel)]="loginUser.password" type="password" name="password" class="rounded p-1 pl-4 border-medium-default" placeholder="{{ 'messages.password' | translate  }}*" (keyup.enter)="login(fLogin)"></ion-input>
                </ion-item>
                <ion-item class="text-center mt-4 mb-4" lines="none">
                    <a routerLink="/forgotten" class="text-primary-default m-0 p-0">{{ 'messages.forgottenPassword' | translate }}</a>
                </ion-item>
                <ion-button block color="primary" type="submit" class="m-4 grid justify-center">
                    {{ 'messages.login' | translate }}
                </ion-button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
