<ion-app>
    <ion-split-pane contentId="main" when="lg">
        <ion-menu contentId="main" menuId="menu-main" side="start">
            <ion-header class="ion-no-border">
                <ion-toolbar>
                    <ion-item lines="none">
                        <ion-img src="/assets/icon/logo-mobile.png" class="logo"></ion-img>
                    </ion-item>
                </ion-toolbar>
            </ion-header>
            <ion-content class="not-background">
                <ion-list>
                   <app-change-profile></app-change-profile>
                    <ion-menu-toggle *ngFor="let menuOpt of menuOpts | async" [autoHide]="false">
                        <ion-item [routerLink]="menuOpt.redirectTo" detail routerLinkActive="selected" routerDirection="root">
                            <ion-icon [name]="menuOpt.icon" slot="start"></ion-icon>
                            <ion-label>{{ "menuOpts." + menuOpt.name | translate }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
