<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <swiper #swiper [config]="slideOptions" (slideChange)="moveToTop($event)" class="grid">
        <ng-template swiperSlide>
            <app-quotas title="{{ 'titles.quotas' | translate }}" [active]="activeQuota"></app-quotas>
        </ng-template>
        <ng-template swiperSlide>
            <app-balances title="{{ 'titles.financialbalance' | translate }}" [active]="activeBalance"></app-balances>
        </ng-template>
        <ng-template swiperSlide>
            <app-paymethods title="{{ 'titles.paymentmethods' | translate }}" [active]="activePaymethod"></app-paymethods>
        </ng-template>
        <ng-template swiperSlide>
            <app-invoices title="{{ 'titles.invoices' | translate }}" [active]="activeInvoice"></app-invoices>
        </ng-template>
    </swiper>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="paymethod-btn-add" class="hidden" (click)="addPaymethod()">
        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
