<ion-header>
    <ion-toolbar color="primary">
        <ion-title *ngIf="activity != null">{{ activity.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ 'titles.activitydata' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div *ngIf="activity != null">
                <ion-img [src]="activity.img" class="w-full"></ion-img>
                <ion-list>
                    <!-- Título -->
                    <ion-item>
                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.title" | translate }}</ion-label>
                        <ion-input [value]="activity.title" readonly></ion-input>
                    </ion-item>
                    <!-- Tipo -->
                    <ion-item>
                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.type" | translate }}</ion-label>
                        <ion-input [value]="activity.type.title" readonly></ion-input>
                    </ion-item>
                    <!-- Dirección -->
                    <ion-item *ngIf="activity.address">
                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.address" | translate }}</ion-label>
                        <ion-input [value]="activity.address" readonly></ion-input>
                    </ion-item>
                    <!-- Dirección extra -->
                    <ion-accordion-group>
                        <ion-accordion>
                            <ion-item slot="header">
                                <ion-label class="font-medium mb-2 text-primary-default">{{ "messages.expanddirectiondata" | translate }}</ion-label>
                            </ion-item>
                            <ion-list slot="content">
                                <ion-item color="light" *ngIf="activity.country">
                                    <ion-label position="stacked" class="font-bold mb-2">{{ "messages.country" | translate }}</ion-label>
                                    <ion-input [value]="activity.country" readonly></ion-input>
                                </ion-item>
                                <ion-item color="light" *ngIf="activity.province">
                                    <ion-label position="stacked" class="font-bold mb-2">{{ "messages.province" | translate }}</ion-label>
                                    <ion-input [value]="activity.province" readonly></ion-input>
                                </ion-item>
                                <ion-item color="light" *ngIf="activity.town">
                                    <ion-label position="stacked" class="font-bold mb-2">{{ "messages.town" | translate }}</ion-label>
                                    <ion-input [value]="activity.town" readonly></ion-input>
                                </ion-item>
                                <ion-item color="light" *ngIf="activity.pc">
                                    <ion-label position="stacked" class="font-bold mb-2">{{ "messages.pc" | translate }}</ion-label>
                                    <ion-input [value]="activity.pc" readonly></ion-input>
                                </ion-item>
                            </ion-list>
                        </ion-accordion>
                    </ion-accordion-group>

                    <!-- Telefono de contacto -->
                    <ion-item *ngIf="activity.phone">
                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.contactphone" | translate }}</ion-label>
                        <ion-input [value]="activity.phone" readonly></ion-input>
                    </ion-item>
                    <!-- Fecha Inicio -->
                    <ion-item>
                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.datestart" | translate }}</ion-label>
                        <ion-input [value]="activity.dateStart | date:'dd/MM/yyyy'" readonly></ion-input>
                    </ion-item>
                    <!-- Fecha Fin -->
                    <ion-item>
                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.dateend" | translate }}</ion-label>
                        <ion-input [value]="activity.dateEnd | date:'dd/MM/yyyy'" readonly></ion-input>
                    </ion-item>
                    <!-- Horarios -->
                    <div class="ml-4" *ngIf="activity.schedules.length > 0">
                        <p class="font-bold text-primary-default">{{ "messages.schedule" | translate }}</p>
                        <div *ngFor="let scheduleDay of [scheduleMon, scheduleTue, scheduleWen, scheduleThe, scheduleFri, scheduleSat, scheduleSun]; let i = index" class="bg-light-default">
                            <div *ngIf="scheduleDay.length > 0">
                                <ion-label class="font-bold ml-2 text-dark-default">{{ 'daysOfWeek.day' + (i + 1) | translate }}</ion-label>
                                <div *ngFor="let schedule of scheduleDay" class="grid grid-cols-2 w-full pl-4 pt-2 pb-2 text-dark-default">
                                    <p>{{ schedule.timeStart }} - {{ schedule.timeEnd }}</p>
                                    <p>{{ schedule.title }}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Nº de plazas -->
                    <ion-item *ngIf="activity.capacity">
                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.seatingcapacity" | translate }}</ion-label>
                        <ion-input [value]="activity.capacity" readonly></ion-input>
                    </ion-item>
                    <!-- Descripcion -->
                    <ion-item *ngIf="activity.description">
                        <ion-label position="stacked" class="font-bold mb-2">{{ "messages.description" | translate }}</ion-label>
                        <div [outerHTML]="activity.description"></div>
                    </ion-item>
                </ion-list>
            </div>
            <div *ngIf="activity == null">
                <ion-skeleton-text animated class="w-20 h-20 m-auto"></ion-skeleton-text>
                <ion-list>
                    <ion-item *ngFor="let item of [1,1,1,1]">
                        <ion-skeleton-text animated class="w-full"></ion-skeleton-text>
                    </ion-item>

                </ion-list>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
