<app-header title="messages"></app-header>

<ion-content>
    <app-messages title="{{ 'titles.messages' | translate }}"></app-messages>
    <ion-fab horizontal="end" slot="fixed" vertical="bottom" (click)="messagesComponent.addMessage()">
        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
