<app-header title="home"></app-header>

<ion-content>
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <div>
            <app-entity title="{{ 'titles.entityData' | translate }}"></app-entity>
        </div>
        <div>
            <app-messages title="{{ 'titles.lastMessages' | translate }}" [inHome]="true" [listShow]="10"></app-messages>
        </div>
        <!-- <div>
            <app-apexchart title="{{ 'titles.currentBalance' | translate }}"></app-apexchart>
        </div> -->
        <div>
            <app-activities title="{{ 'titles.lastActivities' | translate }}" [inHome]="true" [listShow]="2"></app-activities>
        </div>
        <div>
            <app-news-container title="{{ 'titles.lastNews' | translate }}" [inHome]="true" [listShow]="2"></app-news-container>
        </div>
    </div>
</ion-content>
