<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ 'messages.deleteaccount' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list lines="none">
        <ion-item>
            <ion-label position="stacked" class="font-bold mb-2">{{ 'messages.currentpassword' | translate }}*</ion-label>
            <ion-input type="password" [(ngModel)]="deleteAccountObject.currentPassword" class="border-0"></ion-input>
        </ion-item>
        <div class="ml-4 mr-4">
            <p>{{ 'messages.deleteusermsg1' | translate }}</p>
            <p>{{ 'messages.deleteusermsg2' | translate }}</p>
            <p>{{ 'messages.deleteusermsg3' | translate }}</p>
        </div>
        <ion-radio-group [(ngModel)]="deleteAccountObject.reason" #options>
            <ion-item>
                <p class="w-full">{{ 'messages.deleteaccountreason1' | translate }}</p>
                <ion-radio [value]="1"></ion-radio>
            </ion-item>
            <ion-item>
                <p class="w-full">{{ 'messages.deleteaccountreason2' | translate }}</p>
                <ion-radio [value]="2"></ion-radio>
            </ion-item>
            <ion-item>
                <p class="w-full">{{ 'messages.deleteaccountreason3' | translate }}</p>
                <ion-radio [value]="3"></ion-radio>
            </ion-item>
            <ion-item>
                <p class="w-full">{{ 'messages.deleteaccountreason4' | translate }}</p>
                <ion-radio [value]="4"></ion-radio>
            </ion-item>
            <ion-item>
                <p class="w-full">{{ 'messages.deleteaccountreason0' | translate }}</p>
                <ion-radio [value]="5"></ion-radio>

            </ion-item>
        </ion-radio-group>
        <ion-item  *ngIf="deleteAccountObject.reason == 5">
            <ion-textarea [(ngModel)]="deleteAccountObject.text" class="border border-primary-default"></ion-textarea>
        </ion-item>

    </ion-list>
    <div class="absolute bottom-0 w-full">
        <div class="grid grid-cols-2 justify-items-center">
            <ion-button (click)="deleteAccount()" shape="round" color="danger">
                {{ 'messages.delete' | translate }}
            </ion-button>
            <ion-button (click)="close()" shape="round" color="light">
                {{ 'messages.cancel' | translate }}
            </ion-button>
        </div>
    </div>
</ion-content>
