<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <editor [init]="tinyMceInit" [apiKey]="tinyMceApiKey" class="{{ note.file == null && note.filePath == null ? 'h-full' : 'full-item' }}" [(ngModel)]="note.text"></editor>
    <ion-button *ngIf="note.file != null || note.filePath != null" (click)="deleteFile()" class="w-1/2">
        <span class="wrap-text">{{ note.fileName ?? note.file.name }}</span>
        <ion-icon slot="end" name="close" class="w-12" *ngIf="(note.file && note.file.name.length > 20) || (note.filePath && note.filePath.length > 20)"></ion-icon>
        <ion-icon slot="end" name="close" *ngIf="(note.file && note.file.name.length <= 20) || (note.filePath && note.filePath.length <= 20)"></ion-icon>
    </ion-button>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="attach()">
                <ion-icon slot="icon-only" name="attach"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="send()">
                <ion-icon slot="icon-only" name="send"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>