<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngIf="action=='message-new'" lines="none">
        <ion-label position="stacked" position="stacked" class="font-bold mb-2">{{ ('messages.title' | translate) }}*</ion-label>
        <ion-input type="text" [(ngModel)]="message.title" class="border-0"></ion-input>
    </ion-item>
    <editor [init]="tinyMceInit" [apiKey]="tinyMceApiKey" class="{{ message.file == null && message.filePath == null ? 'h-full' : 'full-item' }}" [(ngModel)]="message.txt"></editor>
    <ion-button *ngIf="message.file != null || message.filePath != null" (click)="deleteFile()" class="w-1/2">
        <span class="wrap-text">{{ message.fileName ?? message.file.name }}</span>
        <ion-icon slot="end" name="close" class="w-12" *ngIf="(message.file && message.file.name.length > 20) || (message.filePath && message.filePath.length > 20)"></ion-icon>
        <ion-icon slot="end" name="close" *ngIf="(message.file && message.file.name.length <= 20) || (message.filePath && message.filePath.length <= 20)"></ion-icon>
    </ion-button>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="attach()" *ngIf="canAttach">
                <ion-icon slot="icon-only" name="attach"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="send()">
                <ion-icon slot="icon-only" name="send"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>