<ion-refresher slot="fixed" (ionRefresh)="getActivities(1, $event )" pullFactor="0.8" pullMin="60" pullMax="120" *ngIf="!inHome">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-card>
    <ion-card-header>
        <ion-searchbar *ngIf="!inHome" class="mt-4" placeholder="{{ 'messages.search' | translate }}" inputmode="text" [debounce]="250" animated [(ngModel)]="searchedText" (ionChange)="getActivities(1)"></ion-searchbar>
        <ion-card-title>{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div *ngIf="activities != null" class="md:grid {{ !inHome ? 'md:grid-cols-2' : '' }}">
            <ion-card *ngFor="let activity of activities" class="card-line">
                <div (click)="openActivity(activity)">
                    <div *ngIf="activity.profile" class="bg-primary-default h-8 w-8 absolute top-0 left-4 text-center">
                        <ion-icon slot="icon-only" name="white-clock" *ngIf="activity.profile.registered == 0" class="p-2 align-middle"></ion-icon>
                        <ion-icon slot="icon-only" name="activity-status-1" *ngIf="activity.profile.registered == 1" class="p-2 align-middle"></ion-icon>
                    </div>
                    <img [src]="activity.img" alt="" class="m-auto">
                    <ion-card-header class="overflow-hidden max-h-12 md:max-h-16 p-0 m-4">
                        <ion-card-title class="h-full">{{ activity.title }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div class="grid grid-cols-2">
                            <div *ngIf="activity.canEnroll">
                                <ion-chip color="secondary" outline="true" class="border border-current">
                                    <ion-label>{{ activity.type.title }}</ion-label>
                                </ion-chip>
                            </div>
                            <div *ngIf="!activity.canEnroll">
                                <ion-chip color="secondary" outline="true" class="border border-current">
                                    <ion-label>{{ 'messages.activityfull' | translate }}</ion-label>
                                </ion-chip>
                            </div>
                            <div class="justify-self-end">
                                <ion-chip color="primary" outline="true" class="border border-current">
                                    <ion-label>{{ activity.dateStart | date: "dd/MM/yyyy" }}</ion-label>
                                </ion-chip>
                            </div>
                        </div>
                        <div class="mt-4 mb-4 text-justify" [innerHTML]="activity.description">
                        </div>
                    </ion-card-content>
                </div>
            </ion-card>
        </div>
        <div *ngIf="activities == null">
            <ion-card class="card-line">
                <div class="h-full">
                    <div class="h-2/4">
                        <ion-skeleton-text class="w-full h-full"></ion-skeleton-text>
                    </div>
                    <div class="m-4">
                        <ion-skeleton-text animated class="w-full"></ion-skeleton-text>
                    </div>
                    <div class="grid grid-cols-2 m-4">
                        <ion-skeleton-text animated class="w-1/3"></ion-skeleton-text>
                        <ion-skeleton-text animated class="w-1/3"></ion-skeleton-text>
                    </div>
                    <div class="h-1/3">
                        <ion-skeleton-text animated class="w-full h-full"></ion-skeleton-text>
                    </div>
                </div>
            </ion-card>
        </div>
        <ion-infinite-scroll threshold="50px" position="bottom" [disabled]="!hasMore" (ionInfinite)="getActivities(page, $event)" *ngIf="!inHome">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-card-content>
</ion-card>
