<ion-refresher slot="fixed" (ionRefresh)="getQuotas(1, $event)" pullFactor="0.8" pullMin="60" pullMax="120" [disabled]="!active">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-card>
    <ion-card-header>
        <ion-searchbar class="mt-4" placeholder="{{ 'messages.search' | translate }}" inputmode="text" [debounce]="250" animated [(ngModel)]="searchText" (ionChange)="getQuotas(1)"></ion-searchbar>
        <div class="flex">
            <ion-card-title color="primary" class="font-bold text-xl w-full self-center">{{ title }}</ion-card-title>
            <ion-item id="year-modal" lines="none" class="justify-self-end">
                <ion-label class="font-bold">{{ "messages.year" | translate }}: </ion-label>
                <ion-input [value]="year"></ion-input>
                <ion-modal trigger="year-modal" class="cucunver-modal small" #yearModal>
                    <ng-template>
                        <ion-content>
                            <ion-datetime firstDayOfWeek="1" [value]="year" presentation="year" (ionChange)="changeDate($event, yearModal)" [yearValues]="years" #yearPicker>
                                <ion-buttons slot="buttons">
                                    <ion-button (click)="yearPicker.confirm()">{{ 'messages.done' | translate }}</ion-button>
                                    <ion-button (click)="reset(yearModal)">{{ 'messages.clear' | translate }}</ion-button>
                                </ion-buttons>
                            </ion-datetime>
                        </ion-content>
                    </ng-template>
                </ion-modal>
            </ion-item>
        </div>
    </ion-card-header>
    <ion-card-content>
        <ion-list *ngIf="pqys != null">
            <div *ngFor="let pqy of pqys" class="border-b border-b-light-default">
                <app-quota [pqy]="pqy" *ngIf="!pqy.quota.disabled && !pqy.pq.disabled"></app-quota>
            </div>
        </ion-list>
        <ion-list *ngIf="pqys == null">
            <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                </ion-label>
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="end"></ion-skeleton-text>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll threshold="50px" position="bottom" [disabled]="!hasMore" (ionInfinite)="getQuotas(page, $event)" >
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-card-content>
</ion-card>
