<ion-refresher slot="fixed" (ionRefresh)="getDocuments(1, folder ? folder.id : null, $event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-card>
    <ion-card-header>
        <ion-searchbar class="mt-4" placeholder="{{ 'messages.search' | translate }}" inputmode="text" [debounce]="250" animated [(ngModel)]="searchedText" (ionChange)="getDocuments(1, folder ? folder.id : null)"></ion-searchbar>
        <ion-card-title color="primary">{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content mode="md">
        <ion-list *ngIf="cucunverFiles != null">
            <ion-item *ngIf="folder != null" (click)="getDocuments(1, folder.parent_id)">
                <ion-icon color="primary" slot="start" name="arrow-back-circle-outline"></ion-icon>
                <ion-label color="primary">{{ 'messages.back' | translate }}</ion-label>
            </ion-item>
            <div *ngFor="let cucunverFile of cucunverFiles">
                <ion-item (click)="actions(cucunverFile)">
                    <ion-img [src]="cucunverFile.img_type" slot="start" class="w-8"></ion-img>
                    <ion-label>
                        <h2>{{ cucunverFile.name }}</h2>
                        <p>{{ cucunverFile.updated_at | date: "dd/MM/yyyy" }}</p>
                    </ion-label>
                    <ion-avatar slot="end">
                        <img [src]="cucunverFile.creator.avatar" />
                    </ion-avatar>
                </ion-item>
            </div>
        </ion-list>
        <ion-list lines="none" *ngIf="cucunverFiles == null">
            <ion-item *ngFor="let message of [1,2,3,4,5,6,7,8]">
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                </ion-label>
                <ion-skeleton-text style="width: 50px; height: 50px;" slot="end"></ion-skeleton-text>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll threshold="50px" position="bottom" [disabled]="!hasMore" (ionInfinite)="getDocuments(page, folder ? folder.id : null, $event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-card-content>
</ion-card>