<app-header title="underConstruction"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/icon/entitynoplan.svg"></ion-img>
        </ion-card-header>
        <ion-card-content>
            <p class="text-base">{{ 'errors.entitynoplantxt1' | translate }}</p>
            <p class="text-base">{{ 'errors.entitynoplantxt2' | translate }}</p>
            <p class="text-base">{{ 'errors.entitynoplantxt3' | translate }}</p>
        </ion-card-content>
    </ion-card>
</ion-content>
